<%
	dvds = len(dvd)
	theaters = len(theater)
	dvdNows = len(dvdNow)

%>

<div id="feed">
	<div id="filterDetails">
		% if dvds > 0:
		<span class="counter"><strong>${dvds}</strong> on DVD</span>
		% endif
		% if theaters > 0:
		<span class="counter"><strong>${theaters}</strong> in theaters</span>
		% endif
		% if dvdNows > 0:
		<span class="counter"><strong>${dvdNows}</strong> released</span>
		% endif
		% if not running:
		<span><a href="${url(controller='feed', action='renewEta')}"><img src="media/images/reload.png" alt="refresh" />Update release dates</a></span>
		% else:
		<span><img src="media/images/spinner.gif" alt="refresh" style="width:12px" /> Searching for new release dates</span>
		% endif
	</div>
	% if len(dvd) > 0:
		<h1>Dvd releases</h1>
		<%include file="_list.html" args="etas=dvd,type='dvd'"/>
	% endif
	% if len(theater) > 0:
		<h1>Theater releases</h1>
		<%include file="_list.html" args="etas=theater,type='theater'"/>
	% endif
	% if len(dvdNow) > 0:
		<h1>Released</h1>
		<%include file="_list.html" args="etas=dvdNow,type='dvd'"/>
	% endif
</div>
<%inherit file="/base.html" />