.pydevproject
*.pyc
*.pyo
.DS_Store
*.bak
.tmp*

*.spec
*.exe
*.db
*.ini

/logs/
/pyInstaller/
/build/
/data/
/cache/

debug.conf
warnCouchPotato.txt
warnWindowsUpdater.txt
WindowsStart.py
WindowsUpdater.py
