*.db
*.ini
.pydevproject
.project
*.pyc
.DS_Store
.tmp*
/logs/
*.spec
/pyInstaller/
*.exe
setup.py
/build/
debug.conf
/cache/
warnCouchPotato.txt
warnWindowsUpdater.txt
WindowsStart.py
WindowsUpdater.py
/data/
*.wpr
/.idea/