/* @override http://localhost:5000/media/style/Main.css */

html {
	color: #343434;
	font-size: 12px;
	line-height: 1.5;
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: #fff;
}

	#clean {
		background: transparent !important;
	}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

input, textarea {
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

a img {
	border:none;
}

a {
	text-decoration:none;
	color:#1C4FAD;
}

.page {
	width: 960px;
	margin: 0 auto;
	line-height: 24px;
	padding-bottom: 20px;
}

	.page .noticeMe {
		background-color: lightgoldenrodyellow;
		display: block;
		padding: 20px 10px;
		font-size: 19px;
		text-align: center;
	}

.content {
	clear:both;
}

.footer {
	text-align:center;
	padding: 50px 0 0 0;
	color: #999;
	font-size: 10px;
	clear: both;
}

	.footer .check {
		color: #333;
	}
	
form {
	padding:0;
	margin:0;
}

.spinner{
	background: #f7f7f7 url('../../media/images/spinner.gif') no-repeat center;
}

/*** Navigation ***/
#header {
	background: #f7f7f7;
	padding:10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #f1f1f1;
	overflow:hidden;
	height: 60px;
}

#header .navigation {
	width: 960px;
	margin: 0 auto;
	overflow:hidden;
}

	#header .navigation ul {
		float: left;
		padding: 0;
		margin: 0;
		width: 400px;
	}

	#header .navigation ul li {
		color: #8b8b8b;
		display: block;
		font-size:20px;
		font-weight: bold;
		margin: 0;
		text-align: center;
		float: left;
	}

		#header .navigation ul li a {
			display: block;
			padding: 15px;
		}
			#header .navigation ul li:first-child a { padding-left: 10px; }
			#header .navigation ul li a.logLink { font-size: 13px; padding: 22px; }

			#header .navigation ul li span {
				display: block;
				margin-top: 5px;
			}
	
		#header .navigation ul li.disabled {
			color: #e5e5e5;
		}
		
		#header .navigation ul li a:link, #header .navigation ul li a:visited {
			color: #2c2c2c;
		}
		
		#header .navigation ul li a:hover, #header .navigation ul li a:active {
			color: #8b8b8b;
		}
		
	#header .addNew {
		float: right;
		margin: 15px 0 0;
		width: 440px;
	}
		#header .addNew .row {
			float: right;
			padding: 5px;
		}
		
		#header .addNew .row input {
			height: 21px;
			font-size: 15px;
			border: 1px solid #aaa;
			padding: 2px 4px;
			background: #fff;
		}
		
		#header .addNew .row select {
			margin-top: 5px;
		}
		
		#header .addNew .row .undo {
			float: left;
			margin: 6px 5px 0 0;
		}
		
		#header .addNew .row .movieselect {
			width: 195px;
		}
		
		#header .addNew .row .quality {
			width: 70px;
		}
		
		#header .addNew .row #yearInput {
			width: 40px; 
			border: 1px 
			solid red;
		}
		
		#header .addNew .row .overTxtLabel {
			padding: 2px 3px;
			font-size: 15px;
			color: #999;
		}
		
		form a.submit {
			background: #222 url(../../media/images/button.png) repeat-x; 
			display: inline-block; 
			padding: 4px 10px 4px; 
			color: #fff; 
			text-decoration: none;
			-moz-border-radius: 5px; 
			-webkit-border-radius: 5px;
			-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
			-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
			text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
			border-bottom: 1px solid rgba(0,0,0,0.25);
			position: relative;
			cursor: pointer;
			margin-right: 3px;
		}
		
#toggleDetails {
	float: right;
}

#movies {
	clear: both;
	padding: 0 0 20px;
	font-size: 20px;
	overflow:hidden;
}

	#movies #firstAdd {
		display: block;
		padding: 50px 10px;
		margin: 30px 0 10px;
		font-size: 26px;
		text-align: center;
		background: #f7f7f7;

	}

	#movies .header {
		font-weight: bold;
	}
	
	#movies .header > span, #movies .item > span {
		float:left;
		display:block;
		padding: 19px 9px 6px;
	}
	
	#movies .header, #movies > .item {
		clear:both;
		text-align: center;
	}
	
	#movies > .item {
		overflow:hidden;
		background: #fff;
		padding: 0 0 8px ;
	}

	#movies > .item:nth-child(even) {
		background: #f7f7f7;
	}
	
	#movies > .item.waiting {
		background: #ffeeca;
	}
	
	#movies > .item.active {
		background: #edf7f9 !important;
	}

		#movies .title {
			width: 555px;
			text-align: left;
		}
			#movies .item .title { padding-top: 10px !important; }

			#movies .title .thumbnail {
				float: left;
				margin: 12px 20px 5px 10px;
				width: 92px;
			}

			#movies .title .thumbnail img {
				-moz-border-radius: 3px; 
				-webkit-border-radius: 3px;
				-moz-box-shadow: 0 0 3px rgba(0,0,0,0.35);
				-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.35);
			}

			#movies .title .extra {
				float: left;
				width: 430px;
				line-height: 17px !important;
				overflow: hidden;
			}

				#movies .title h2 {
					display: block;
					font-size: 20px;
					margin: 0;
					font-weight: normal;
					padding: 11px 0 6px;
				}
	
				#movies .title .overview {
					font-size: 12px;
					display: block;
					color: #777;
				}
	
					#movies .item:hover .overview {
						color: #333;
					}
	
				#movies .title .rating {
					display: block;
					font-size: 11px;
					font-weight: bold;
					margin-top: 5px;
				}

			#movies.list .title .extra * { display: none; }
			#movies.list .title .thumbnail { display: none; }
			#movies.list .title .extra h2 { display: block; padding: 13px 0 0; }
		
		
		#movies .year {
			width: 70px;
			padding-top: 22px !important;
		}
		#movies .quality {
			width: 92px;
			border: 2px solid transparent;
			border-bottom: none;
				border-top: none;
		}
			#movies .active .quality {
				background: #fff;
				position: relative;
				z-index: 2000;
				border: 2px solid #d7ebee;
				border-bottom: none;
				border-top: none;
			}
		
		#movies .item .quality {
			padding: 5px 9px;
			height: 45px;
		}
		#movies .item .quality span {
			font-size: 10px;
			width: 10px;
			height: 45px;
			display: block;
			float: left;
			padding: 0 3px 0 0;
			color: #333;
			background: url('../../media/images/qualities.png') no-repeat;
		}
			/** ACTIVE **/
			#movies .item .quality .q1080P.active { background-position: -85px -63px; }
			#movies .item .quality .q720P.active { background-position: -71px -63px; }
			#movies .item .quality .qBR-Rip.active { background-position: -58px -63px; }
			#movies .item .quality .qDVD-R.active { background-position: -44px -63px; }
			#movies .item .quality .qDVD-Rip.active { background-position: -30px -63px; }
			#movies .item .quality .qScreener.active { background-position: -17px -63px; }
			#movies .item .quality .qR5.active, #movies .item .quality .qTeleCine.active, #movies .item .quality .qTeleSync.active, #movies .item .quality .qCam.active { background-position: -3px -63px; }
			
			/** INACTIVE **/
			#movies .item .quality .q1080P { background-position: -85px -115px; }
			#movies .item .quality .q720P { background-position: -71px -115px; }
			#movies .item .quality .qBR-Rip { background-position: -58px -115px; }
			#movies .item .quality .qDVD-R { background-position: -44px -115px; }
			#movies .item .quality .qDVD-Rip { background-position: -30px -115px; }
			#movies .item .quality .qScreener { background-position: -17px -115px; }
			#movies .item .quality .qR5, #movies .item .quality .qTeleCine, #movies .item .quality .qTeleSync, #movies .item .quality .qCam { background-position: -3px -115px; }
			
			/** COMPLETED **/
			#movies .item .quality .q1080P.completed { background-position: -85px -13px; }
			#movies .item .quality .q720P.completed { background-position: -71px -13px; }
			#movies .item .quality .qBR-Rip.completed { background-position: -58px -13px; }
			#movies .item .quality .qDVD-R.completed { background-position: -44px -13px; }
			#movies .item .quality .qDVD-Rip.completed { background-position: -30px -13px; }
			#movies .item .quality .qScreener.completed { background-position: -17px -13px; }
			#movies .item .quality .qR5.completed , #movies .item .quality .qTeleCine.completed , #movies .item .quality .qTeleSync.completed , #movies .item .quality .qCam.completed { background-position: -3px -13px; }
		
		#movies .info {
			width: 70px;
		}
		#movies .actions {
			width: 70px;
		}
		
	#movies img {
		vertical-align: middle;
	}
	
	#movies > .item .queue { display: none; }
	#movies > .item.active .queue { display: block; }
	
	#movies > .item .queue {
		font-size: 12px;
		position: absolute;
		background: #edf7f9;
		z-index: 199;
		border: 2px solid #d7ebee;
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.25);
		-moz-box-shadow: 0 0 10px rgba(0,0,0,0.25);
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		margin: 53px 0 0 520px;
	}
	
		#movies > .item .queue .header {
			padding: 2px 5px;
			overflow: hidden;
			background: #fff;
			-moz-border-radius-topleft: 6px;
			-moz-border-radius-topright: 6px;
			-webkit-border-top-left-radius: 6px;
			-webkit-border-top-right-radius: 6px;
		}
	
		#movies > .item .queue .item {
			clear: both;
			overflow: hidden;
			padding: 2px 5px;
		}
		
		#movies > .item .queue .item:nth-child(odd) {
			background: #fff;
		}
		
		#movies > .item .queue .item:last-child {
			-moz-border-radius-bottomleft: 6px;
			-moz-border-radius-bottomright: 6px;
			-webkit-border-bottom-left-radius: 6px;
			-webkit-border-bottom-right-radius: 6px;
		}
		
		#movies > .item .queue .inactive {
			color: #999;
		}
		
		#movies > .item .queue .completed {
			background: #dffbbe !important;
		}
	
			#movies > .item .queue span {
				display: block;
				float: left;
				text-align: left;
				padding: 2px 5px;
			}
	
			#movies > .item .queue .found { width: 200px; overflow: hidden; height: 24px; }
			#movies > .item .queue .qualityType { width: 60px; text-align: center; }
			#movies > .item .queue .markComplete { width: 40px; text-align: center; }


.smallList {
	clear: both;
	overflow: hidden;
}

	.smallList > span {
		background: #f7f7f7;
		padding: 10px;
		margin: 0 5px 5px 0;
		display: block;
		float: left;
	}
	
	.smallList .actions {
		padding-left:10px;
	}
	
		.smallList .actions img {
			vertical-align: middle;
		}
		
#feed h2 {
	font-size: 25px;
	margin: 15px 0 20px 10px;
	float: left;
}

	#feed .running {
		float: right;
		padding: 20px 20px 0;
	}

	#feed .title {
		width: 440px;
	}

	#feed .release {
		width: 160px;
		text-align: left;
	}

	#feed .bluray {
		width: 40px;
	}

.configPopup {
}
.mask {
	background: url('../../media/images/mask.png');
}

	.configPopup ul {
		float: left;
		border-right: none;
		width: 200px;
		text-align: right;
		font-size: 19px;
		padding: 0;
		margin: 10px 0 0;
		position:absolute;
		z-index:999;
	}
	
	.configPopup ul li {
		list-style: none;
		border-bottom: 1px solid #fafafa;
	}
		.configPopup ul li:last-child { border: none; }
	
		.configPopup ul li a {
			display: block;
			padding: 10px 15px 10px 0;
			color: #000;
			outline: none;
		}
	
		.configPopup ul li a.current {
			font-weight: bold;
			background: #fff;
		}
	

#configForm {
	display: block;
	width: 700px;
	margin: 30px auto;
	background: #fff;
	border: 6px solid rgba(0,0,0, 0.25);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background: #f5f5f5;
	position:absolute;
	z-index:101;
}

	#configForm .formContent {
		height: 510px;
		overflow: auto;
		background: #fff;
		display: block;
		clear: both;
		float: right;
		width: 500px;
	}
	
		#configForm h3 {
			font-size: 19px;
			padding: 0;
			margin: 0 10px 10px 10px;
		}
	
		#configForm .infoMessage {
			font-size: 15px;
			margin: 10px 10px 23px;
		}
	
		#configForm fieldset {
			width: 460px;
			padding: 20px 0 20px 20px;
		}
			
		#configForm .buttonHolder {
			margin-top: 0;
		}
		
		#configForm .ctrlHolder {
			line-height: 25px;
		}
		
		#configForm .ctrlHolder:last-child {
			border: none;
		}
		
			#configForm .ctrlHolder label {
				line-height: 19px;
			}
			
			input {
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
			}
			
			input.xsmall {
				width: 5% !important;
				text-align: center !important;
				margin-right: 4px !important;
			}
			
			#configForm .userscriptInstall {
				padding: 20px 15px 10px;
				text-align: center;
				font-weight:bold;
				font-size: 15px;
			}
			
				#configForm fieldset p {
					text-align: center;
				}
			
			#configForm .formHint span {
				background: #f5f5f5;
				padding: 2px;
				margin-right: 1px;
			}
			
			#configForm .formHint {
				text-align: left;
			}
			
			#configForm span.or {
				color: #999;
				padding: 0 5px;
			}
		
		#configForm .standardQualities {
			float: left;
			width: 275px;
		}
			#configForm .standardQualities .item {
				clear: both;
				border-bottom: 1px solid #f3f3f3;
				overflow: hidden;
				background: #fff;
			}
				#configForm .standardQualities .item:last-child { border: none; }
			#configForm .standardQualities .item:hover {
				background: #f3f3f3;
			}
				#configForm .standardQualities .item .label {
					padding: 4px 10px;
				}
		
				#configForm .standardQualities input {
					clear: both;
					float: left;
					margin: 6px 0;
				}
				
				#configForm .handle {
					background: #fff url('../../media/images/handle.png') center no-repeat;
					display: block;
					width: 24px;
					height: 24px;
					float: right;
					cursor: move;
				}
		
		#configForm .qualityTemplates .template {
			border-bottom: 1px solid #f0f0f0;
			margin-bottom: 30px;
		}
		
		#configForm .qualityTemplates .template h4 {
			margin: 0 0 0 160px;
			font-size: 16px;
			float: left;
			display: block;
			padding: 0;
		}
		
		#configForm .qualityTemplates .template > .delete {
			float: left;
			display: block;
			width: 20px;
			padding: 5px;
		}
		
		#configForm .qualityTemplates .types {
			float: left;
			width: 275px;
		}
		
			#configForm .qualityTemplates .header {
				font-weight: bold;
			}
		
			#configForm .qualityTemplates .qualityType {
				display: block;
				float: left;
				width: 190px;
			}
		
			#configForm .qualityTemplates span.markComplete {
				display: block;
				float: left;
				width: 40px;
				text-align: center;
			}
		
			#configForm .qualityTemplates .item {
				display: block;
				clear: both;
				border-bottom: 1px solid #f3f3f3;
				overflow: hidden;
				background: #fff;
			}
			#configForm .qualityTemplates .item:last-child { border: none; }
				#configForm .qualityTemplates .item:hover {
					background: #f3f3f3;
				}
				
				#configForm .qualityTemplates select {
					width: 90%;
					margin: 3px 0 0 0;
				}
				
				#configForm .qualityTemplates textarea {
					display: none;
				}
		
				#configForm .qualityTemplates .item .delete {
					float: left;
					line-height: 0;
					padding: 5px 0;
					cursor: pointer;
				}
		
			#configForm .qualityTemplates .addType {
				clear: both;
				text-align: center;
				width: 290px;
				display: block;
				float: right;
			}
		
			#configForm .qualityTemplates #newTemplate {
				clear: both;
				text-align: center;
				display: block;
				font-size: 16px;
				padding: 20px;
			}
			
	
		#configForm fieldset.about {
			padding: 65px 20px 0;
			text-align:center;
		}

		#configForm fieldset.about .submit {
			background-color: #ff0000;
		}

		#configForm fieldset.about .submit.restart {
			background-color: #f78a00;
		}
		
		#configForm #versionInfo {
			margin-top: 30px;
		}
		
		#configForm #donate {
			padding: 50px 30px 10px;
			font-style: italic;
			font-size: 15px;
			color: #999;
		}
		
			#configForm #donate div {
				padding: 20px 0;
			}
		#configForm .site {
			font-size: 16px;
			margin-top: 50px;
		}

