/* @override 
	http://localhost:5000/media/style/Main.css
	http://192.168.1.20:5000/media/style/Main.css
*/

html {
	color: #343434;
	font-size: 12px;
	line-height: 1.5;
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: #fff;
	overflow-y: scroll;
}
	body.noscroll { overflow: hidden; }

	#clean {
		background: transparent !important;
	}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

input, textarea {
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

a img {
	border:none;
}

a {
	text-decoration:none;
	color: #6ea1d7;
	outline: 0;
}
a:hover { color: #4d66c4; }

.page {
	width: 960px;
	margin: 0 auto;
	line-height: 24px;
	padding: 0 0 20px;
}

	.page .noticeMe {
		background-color: lightgoldenrodyellow;
		display: block;
		padding: 20px 10px;
		margin: 0 -10px 40px;
		font-size: 19px;
		text-align: center;
	}

.content {
	clear:both;
	padding: 130px 10px 10px;
}

.footer {
	text-align:center;
	padding: 50px 0 0 0;
	color: #999;
	font-size: 10px;
	clear: both;
}

	.footer .check {
		color: #333;
	}

#toTop {
	background: black;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px 10px 10px 40px;
	background: #f7f7f7 url('../../media/images/toTop.gif') no-repeat 10px center;
	border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
}

form {
	padding:0;
	margin:0;
}

.spinner{
	background: #f7f7f7 url('../../media/images/spinner.gif') no-repeat center;
}

/*** Navigation ***/
#header {
	background: #f7f7f7;
	padding:10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #f1f1f1;
	height: 60px;
	-moz-box-shadow:  0 0 30px rgba(0,0,0,0.1);
	-webkit-box-shadow:  0 0 30px rgba(0,0,0,0.1);
	position: fixed;
	width: 99%;
}

#header .navigation {
	width: 960px;
	margin: 0 auto;
	overflow:hidden;
}

	#header .navigation ul {
		float: left;
		padding: 0;
		margin: 0 0 0 6px;
		width: 450px;
	}

	#header .navigation ul li {
		color: #8b8b8b;
		display: block;
		font-size:20px;
		font-weight: bold;
		margin: 0;
		text-align: center;
		float: left;
	}

		#header .navigation ul li a {
			display: block;
			padding: 15px;
		}
			#header .navigation ul li:first-child a { padding-left: 10px; }
			#header .navigation ul li a.logLink { font-size: 13px; padding: 23px 20px 15px; }
			#header .navigation ul li a#showConfig {
				background: url('../../media/images/gear.png') no-repeat center;
				height: 35px;
				width: 10px;
			}

			#header .navigation ul li span {
				display: block;
				margin-top: 5px;
			}

		#header .navigation ul li.disabled {
			color: #e5e5e5;
		}

		#header .navigation ul li a:link, #header .navigation ul li a:visited {
			color: #2c2c2c;
		}

		#header .navigation ul li a:hover, #header .navigation ul li a:active {
			color: #8b8b8b;
		}

	#header #addForm {
		overflow: hidden;
		margin-right: 15px;
	}
	#header .addNew {
		float: right;
		margin: 15px 0 0;
		width: 440px;
	}
		#header .addNew .row {
			float: right;
			padding: 5px;
		}

		#header .addNew .row input {
			height: 21px;
			font-size: 15px;
			border: 1px solid #aaa;
			padding: 2px 4px;
			background: #fff;
		}

		#header .addNew .row select {
			margin-top: 5px;
		}

		#header .addNew .row .undo {
			float: left;
			margin: 6px 5px 0 0;
		}

		#header .addNew .row .movieselect {
			width: 195px;
		}

		#header .addNew .row .quality {
			width: 70px;
		}

		#header .addNew .row #yearInput {
			width: 40px;
			border: 1px
			solid red;
		}

		#header .addNew .row .overTxtLabel {
			padding: 2px 3px;
			font-size: 15px;
			color: #999;
			top: 33px !important;
		}

		#header #addForm .spinner {
			top: 25px !important;
		}

		form a.submit {
			background: #222 url(../../media/images/button.png) repeat-x;
			display: inline-block;
			padding: 4px 10px 4px;
			color: #fff;
			text-decoration: none;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
			-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
			text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
			border-bottom: 1px solid rgba(0,0,0,0.25);
			position: relative;
			cursor: pointer;
			margin-right: 3px;
		}

/*** Movie list ***/
#filterDetails, #clear_downloaded {
	text-align: right;
	margin: 5px 10px 10px;
	font-size: 15px;
	line-height: 16px;
	float: right;
	width: 650px;
}
	#filterDetails a, #filterDetails span, #clear_downloaded a {
		margin: 0 0 0 20px;
		background: #f3f3f3;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 5px 10px;
	}
		#filterDetails strong {
			color:  #666;
		}

	#filterDetails .toggle, #clear_downloaded .clear_downloaded {
		margin-left: 10px;
	}

	#filterDetails .reload {
		background: #f3f3f3 url('../../media/images/reload.png') no-repeat 7px 7px;
		padding-left: 28px;
	}

	#filterDetails .spinner {
		background: #f3f3f3 url('../../media/images/spinner.gif') no-repeat 7px center;
		padding-left: 28px;
	}

a[name=sn], a[name=dl] {
	display: block;
	clear: both;
	margin: -40px 0 80px;
}

#movies {
	clear: both;
	padding: 0;
	font-size: 20px;
	overflow:hidden;
	margin: 40px -10px 0;
}

	#movies #firstAdd {
		display: block;
		padding: 50px 10px;
		margin: 30px 0 10px;
		font-size: 26px;
		text-align: center;
		background: #f7f7f7;

	}

	#movies .header {
		font-weight: bold;
	}

	#movies .header > span, #movies .item > span {
		float:left;
		display:block;
		padding: 19px 9px 6px;
	}

	#movies .header, #movies > .item {
		clear:both;
		text-align: center;
	}

	#movies > .item {
		overflow:hidden;
		background: #fff;
		padding: 0 0 8px;
	}

	#movies > .item:nth-child(even) {
		background: #fafafa;
	}

	#movies > .item.waiting {
		background: #ffeeca;
	}

	#movies > .item.active {
		background: #edf7f9 !important;
	}

		#movies .title {
			width: 615px;
			text-align: left;
		}
			#movies .item .title { padding-top: 10px !important; }

			#movies .title .thumbnail {
				float: left;
				margin: 12px 20px 5px 10px;
				width: 92px;
				height: 138px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				-moz-box-shadow: 0 0 3px rgba(0,0,0,0.35);
				-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.35);
				line-height: 0;
			}
			#movies .title .thumbnail.empty {
				visibility: hidden;
			}

			#movies .title .extra {
				float: left;
				width: 490px;
				line-height: 17px !important;
			}

				#movies .title h2 {
					display: block;
					font-size: 20px;
					margin: 0;
					font-weight: normal;
					padding: 13px 0 6px;
				}

				#movies .title .overview {
					font-size: 12px;
					display: block;
					color: #777;
					text-align: justify;
				}

					#movies .item:hover .overview {
						color: #333;
					}

				#movies .title .rating {
					display: block;
					font-size: 11px;
					font-weight: bold;
					margin-top: 5px;
				}

			#movies.list .title .extra * { display: none; }
			#movies.list .title .thumbnail { display: none; }
			#movies.list .title .extra h2 { display: block; padding: 13px 0 6px 10px; }


		#movies .year {
			width: 70px;
		}
			#movies .item .year { padding-top: 22px !important; }

		#movies .quality {
			width: 92px;
			border: 2px solid transparent;
			border-bottom: none;
			border-top: none;
		}
			#movies .active .quality {
				background: #fff;
				position: relative;
				z-index: 2000;
				border: 2px solid #d7ebee;
				border-bottom: none;
				border-top: none;
			}

		#movies .item .quality {
			padding: 5px 9px;
			height: 45px;
		}
		#movies .item .quality span {
			font-size: 10px;
			width: 10px;
			height: 45px;
			display: block;
			float: left;
			padding: 0 3px 0 0;
			color: #333;
			background: url('../../media/images/qualities.png') no-repeat;
		}
			/** ACTIVE **/
			#movies .item .quality .q1080P.active { background-position: -85px -63px; }
			#movies .item .quality .q720P.active { background-position: -71px -63px; }
			#movies .item .quality .qBR-Rip.active { background-position: -58px -63px; }
			#movies .item .quality .qDVD-R.active { background-position: -44px -63px; }
			#movies .item .quality .qDVD-Rip.active { background-position: -30px -63px; }
			#movies .item .quality .qScreener.active { background-position: -17px -63px; }
			#movies .item .quality .qR5.active, #movies .item .quality .qTeleCine.active, #movies .item .quality .qTeleSync.active, #movies .item .quality .qCam.active { background-position: -3px -63px; }

			/** INACTIVE **/
			#movies .item .quality .q1080P { background-position: -85px -115px; }
			#movies .item .quality .q720P { background-position: -71px -115px; }
			#movies .item .quality .qBR-Rip { background-position: -58px -115px; }
			#movies .item .quality .qDVD-R { background-position: -44px -115px; }
			#movies .item .quality .qDVD-Rip { background-position: -30px -115px; }
			#movies .item .quality .qScreener { background-position: -17px -115px; }
			#movies .item .quality .qR5, #movies .item .quality .qTeleCine, #movies .item .quality .qTeleSync, #movies .item .quality .qCam { background-position: -3px -115px; }

			/** COMPLETED **/
			#movies .item .quality .q1080P.completed { background-position: -85px -13px; }
			#movies .item .quality .q720P.completed { background-position: -71px -13px; }
			#movies .item .quality .qBR-Rip.completed { background-position: -58px -13px; }
			#movies .item .quality .qDVD-R.completed { background-position: -44px -13px; }
			#movies .item .quality .qDVD-Rip.completed { background-position: -30px -13px; }
			#movies .item .quality .qScreener.completed { background-position: -17px -13px; }
			#movies .item .quality .qR5.completed , #movies .item .quality .qTeleCine.completed , #movies .item .quality .qTeleSync.completed , #movies .item .quality .qCam.completed { background-position: -3px -13px; }

		#movies .info {
			width: 97px;
			text-align: right;
		}
			#movies .info a {
				display: block;
				height: 20px;
				width: 20px;
				background: no-repeat center;
				float: left;
				padding: 3px 2px;
			}

			#movies .info .imdb { background-image: url('../../media/images/imdb.png'); }
			#movies .info .moviedb { background-image: url('../../media/images/moviedb.png'); }
			#movies .info .forceCheck { background-image: url('../../media/images/reload.png'); }
			#movies .info .delete { background-image: url('../../media/images/delete.png'); }

	#movies > .item .queue { display: none; }
	#movies > .item.active .queue { display: block; }

	#movies > .item .queue {
		font-size: 12px;
		position: absolute;
		background: #edf7f9;
		z-index: 199;
		border: 2px solid #d7ebee;
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.25);
		-moz-box-shadow: 0 0 10px rgba(0,0,0,0.25);
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		margin: 53px 0 0 520px;
	}

		#movies > .item .queue .header {
			padding: 2px 5px;
			overflow: hidden;
			background: #fff;
			-moz-border-radius-topleft: 6px;
			-moz-border-radius-topright: 6px;
			-webkit-border-top-left-radius: 6px;
			-webkit-border-top-right-radius: 6px;
		}

		#movies > .item .queue .item {
			clear: both;
			overflow: hidden;
			padding: 2px 5px;
		}

		#movies > .item .queue .item:nth-child(odd) {
			background: #fff;
		}

		#movies > .item .queue .item:last-child {
			-moz-border-radius-bottomleft: 6px;
			-moz-border-radius-bottomright: 6px;
			-webkit-border-bottom-left-radius: 6px;
			-webkit-border-bottom-right-radius: 6px;
		}

		#movies > .item .queue .inactive {
			color: #999;
		}

		#movies > .item .queue .completed {
			background: #dffbbe !important;
		}

			#movies > .item .queue span, #movies > .item .queue acronym {
				display: block;
				float: left;
				text-align: left;
				padding: 2px 5px;
			}

			#movies > .item .queue .found { width: 200px; overflow: hidden; height: 24px; }
			#movies > .item .queue .qualityType { width: 50px; text-align: center; }
			#movies > .item .queue .markComplete {
				width: 37px;
				height: 25px;
				text-align: center;
			}
			#movies > .item .queue .markComplete.active { background: url('../../media/images/ok.png') no-repeat center; }


/*** Downloaded ***/
.smallList {
	clear: both;
	overflow: hidden;
}

	.smallList span {
		background: #f7f7f7;
		padding: 10px 10px;
		margin: 0 5px 5px 0;
		display: block;
		float: left;
	}

	.smallList {
		padding-left:10px;
	}

		.smallList a {
			display: inline-block;
			height: 20px;
			width: 20px;
			background: no-repeat center;
			margin-bottom: -6px;
		}
		.smallList .delete { background-image: url('../../media/images/delete.png'); }
		.smallList .correct { background-image: url('../../media/images/ok.png'); }
		.smallList .reAdd { background-image: url('../../media/images/reload.png'); }

/*** Logs ***/
#logs {
	padding: 10px;
}

/*** Feed ***/
h1 {
	font-size: 30px;
	float: left;
	margin: 0 0 20px 8px;
}

#feed .eta {
	clear: both;
	background: #fcfcfc;
	overflow: hidden;
	padding: 0 20px;
	margin: 0 -10px 50px;
}
	#feed .eta:last-child { margin-bottom: 0; }

	#feed .eta .item {
		display: block;
		width: 450px;
		clear: right;
		float: right;
		margin: 20px 0 15px;
	}
		#feed .eta .item:nth-child(odd) {
			clear: left;
			float: left;
		}

		#feed .eta .item .thumbnail {
			float: left;
			margin: 5px 15px 4px 0;
			width: 180px;
			text-align: center;
		}

			#feed .eta .item .thumbnail .img {
				display: inline-block;
				max-width: 175px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				-moz-box-shadow: 0 0 14px rgba(0,0,0,0.35);
				-webkit-box-shadow: 0 0 14px rgba(0,0,0,0.35);
			}

			#feed .eta .info {
				clear: both;
				display: block;
				text-align: center;
				width: 180px;
				line-height: 0;
			}

				#feed .eta .info a, #feed .eta .info span {
					display: inline-block;
					height: 20px;
					width: 32px;
					background: no-repeat center;
					margin-bottom: -6px;
				}
				#feed .eta .info .moviedb { background-image: url('../../media/images/moviedb.png'); }
				#feed .eta .info .imdb { background-image: url('../../media/images/imdb.png'); }
				#feed .eta .info .hd { background-image: url('../../media/images/hd.png'); }
				#feed .eta .info .notice { background-image: url('../../media/images/notice.png'); }
				#feed .eta .info .videoeta { background-image: url('../../media/images/videoeta.png'); }

		#feed .eta .item .extra {
			float: left;
			width: 250px;
		}

			#feed .eta .item h2 {
				margin: 0;
				padding: 0;
				font-size: 24px;
				font-weight: normal;
			}

			#feed .eta .item .release {
				font-size: 20px;
				padding: 10px 0;
				display: block;
				color: #999;
			}

			#feed .eta .item .overview {
				display: block;
				text-align: justify;
			}

			#feed .eta .item .rating {
				display: block;
				font-size: 11px;
				font-weight: bold;
				margin-top: 5px;
			}

/*** Settings ***/
#configForm {
	display: block;
	margin: 0 -10px;
}

	#configForm ul {
		float: left;
		border-right: none;
		text-align: center;
		font-size: 16px;
		padding: 10px 0 0;
		margin: 0;
		width: 100%;
	}

	#configForm ul li {
		list-style: none;
		float: left;
	}
		#configForm ul li:first-child { margin-left: 7px; }

		#configForm ul li a {
			display: block;
			padding: 10px 15px;
			color: #000;
			outline: none;
			border-radius: 6px 6px 0 0;
			-webkit-border-radius: 6px 6px 0 0;
			-moz-border-radius: 6px 6px 0 0;
		}

		#configForm ul li a.current {
			background: #fafafa;
		}

	#configForm form {
		display: block;
		clear: both;
		position: static;
	}
		#configForm .group {
			background: #fafafa;
			overflow: hidden;
			padding: 30px 12px;
			display: none;
			border-radius: 6px;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
		}
		#configForm .group.current { display: block; }

		#configForm h3 {
			font-size: 19px;
			padding: 0 20px 10px 10px;
			margin: 0;
			background: #fafafa;
		}

		#configForm .infoMessage {
			font-size: 15px;
			margin: 10px 10px 23px;
		}

		#configForm fieldset {
			width: 458px;
			float: left;
			margin-bottom: 20px;
			background: #fdfdfd;
			border-radius: 3px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
		}
		#configForm .group fieldset:nth-child(odd) { float: left; }
		#configForm .group fieldset.left {
			float: left !important;
		}
		#configForm .group fieldset:nth-child(even) { float: right; }
		#configForm .group fieldset.right {
			float: right !important;
		}

		#configForm .buttonHolder {
			background: none;
			margin: 0;
		}

		#configForm .ctrlHolder {
			line-height: 25px;
			padding: 10px;
			border-bottom: 1px solid #f3f3f3;
		}

		#configForm .ctrlHolder:last-child {
			border: none;
			padding-bottom: 10px;
		}

			#configForm .ctrlHolder label {
				line-height: 19px;
			}

			input {
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
			}

			input.xsmall {
				width: 6% !important;
				text-align: center !important;
				margin-right: 4px !important;
			}

			#configForm .userscript fieldset {
				text-align: center;
				font-weight:bold;
				font-size: 15px;
				margin: 0 auto;
				width: 100%;
				background: transparent;
			}

				#configForm .userscriptInstall {
					padding: 20px 15px 10px;
					text-align: center;
					font-weight:bold;
					font-size: 15px;
				}

			#configForm .formHint span {
				background: #f5f5f5;
				padding: 2px;
				margin-right: 1px;
			}

			#configForm .formHint {
				text-align: left;
				padding-top: 0;
				line-height: 22px;
			}
			#configForm .checkbox .formHint {
				margin-top: -24px;
				float: right;
				width: 60%;
			}

			#configForm fieldset > .formHint {
				margin: 10px 30px;
				font-size: 12px;
				text-align: center;
			}

			#configForm span.or {
				color: #999;
				padding: 0 5px;
			}

		#configForm .standardQualities {
			float: left;
			width: 265px;
		}
			#configForm .standardQualities .item {
				clear: both;
				border-bottom: 1px solid #ececec;
				overflow: hidden;
			}
				#configForm .standardQualities .item:last-child { border: none; }
			#configForm .standardQualities .item:hover {
				background: #f3f3f3;
			}
				#configForm .standardQualities .item .label {
					padding: 4px 10px;
				}

				#configForm .standardQualities input {
					clear: both;
					float: left;
					margin: 6px 0;
				}

				#configForm .handle {
					background: url('../../media/images/handle.png') center no-repeat;
					display: block;
					width: 24px;
					height: 24px;
					float: right;
					cursor: move;
				}

		#configForm .qualityTemplates .template {
			border-bottom: 1px solid #f0f0f0;
			margin-bottom: 30px;
		}

		#configForm .qualityTemplates .formHint img {
			margin: 30px 0;
		}

		#configForm .qualityTemplates .template h4 {
			margin: 0 0 0 173px;
			font-size: 16px;
			float: left;
			display: block;
			padding: 0;
		}

		#configForm .qualityTemplates .template > .delete {
			float: left;
			display: block;
			width: 20px;
			padding: 5px;
		}

		#configForm .qualityTemplates .types {
			float: left;
		}

			#configForm .qualityTemplates .header {
				font-weight: bold;
			}

			#configForm .qualityTemplates .qualityType {
				display: block;
				float: left;
				width: 190px;
			}

			#configForm .qualityTemplates span.markComplete {
				display: block;
				float: left;
				width: 50px;
				text-align: center;
			}

			#configForm .qualityTemplates .item {
				display: block;
				clear: both;
				border-bottom: 1px solid #ececec;
				overflow: hidden;
				width: 285px;
			}
			#configForm .qualityTemplates .item:last-child { border: none; }
				#configForm .qualityTemplates .item:hover {
					background: #f3f3f3;
				}

				#configForm .qualityTemplates select {
					width: 95%;
					margin: 3px 0 0 0;
				}

				#configForm .qualityTemplates textarea {
					display: none;
				}

				#configForm .qualityTemplates .item .delete {
					float: left;
					line-height: 0;
					padding: 5px 0;
					cursor: pointer;
				}

			#configForm .qualityTemplates .addType {
				clear: both;
				text-align: center;
				width: 290px;
				display: block;
				float: right;
			}

			#configForm .qualityTemplates #newTemplate {
				clear: both;
				text-align: center;
				display: block;
				font-size: 16px;
				padding: 20px;
			}

		#configForm .qualitySizes {
		}
			#configForm .qualitySizes label {
			}
			#configForm .qualitySizes .ctrlHolder {
			}

			#configForm .qualitySizes .item {
				clear: both;
				overflow: hidden;
				border-bottom: 1px solid #f3f3f3;
				padding: 3px 0 2px;
			}
			#configForm .qualitySizes .item:last-child { border: 0; }

			#configForm .qualitySizes .size {
				float: right;
				width: 270px;
			}

				#configForm .qualitySizes .size span {
					float: left;
					color: #666;
					width: 85px;
				}

				#configForm .qualitySizes .size input {
					width: 40px !important;
				}

			#configForm .qualitySizes .header {
				font-weight: bold;
			}

		fieldset .testNotification {
			margin-left: 34%;
			display: block;
			text-align: center;
		}

		#configForm .about {
			padding: 65px 220px 20px;
			text-align:center;
		}
			#configForm .about fieldset {
				width: 100%;
				background: transparent;
			}

			#configForm .about .submit {
				background-color: #ff0000;
			}

			#configForm .about .submit.restart {
				background-color: #f78a00;
			}

			#configForm #versionInfo {
				margin-top: 30px;
			}

			#configForm #donate {
				padding: 50px 30px 10px;
				font-style: italic;
				font-size: 15px;
				color: #999;
			}

				#configForm #donate div {
					padding: 20px 0;
				}

			#configForm .site {
				font-size: 16px;
				margin: 20px;
			}
		
		#configForm .iphone fieldset {
			display: block;
			width: 100%;
			background: transparent;
		}
		
			#configForm .iphone img {
				margin: 0;
				padding: 0;
				width: 33.3%;
			}
			
			#configForm .iphone div {
				font-size: 20px;
				padding: 20px 0 40px;
				text-align: center;
			}
			
				#configForm .iphone span {
					font-size: 15px;
				}

.question {
	display: block;
	width: 300px;
	padding: 20px;
	background: #fff;
	border: 6px solid rgba(0,0,0, 0.25);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background: #f5f5f5;
	position:fixed;
	z-index:101;
	-moz-box-shadow: 0 0 100px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0 0 100px rgba(0,0,0,0.75);
	text-align: center;
}

	.question h3 {
		font-size: 20px;
		padding: 0;
		margin: 0 0 20px;
	}

	.question .answer {
		font-size: 15px;
		display: block;
		padding: 10px 5px;
		margin: 5px 0;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		background: #ededed url(../../media/images/button.png) repeat-x;
		cursor: pointer;
		border: 1px solid #ddd;
	}
	.question .answer:hover {
		background: #f1f1f1;
	}

	.question .answer.cancel {
		margin-top: 20px;
		background: #e5d1a4 url(../../media/images/button.png) repeat-x;
		border: 1px solid #d2baa9;
	}
