<div id="configForm">
	<ul>
		<li><a href="#general">General</a></li>
		<li><a href="#content">Downloaders</a></li>
		<li><a href="#providers">Providers</a></li>
		<li><a href="#quality">Quality</a></li>
		<li><a href="#renaming">Renaming</a></li>
		<li><a href="#extra">Extras</a></li>
		<li><a href="#notifications">Notifications</a></li>
		<li><a href="#userscript">Userscript</a></li>
		<li><a href="#iphone">iPhone</a></li>
		<li><a href="#about">About</a></li>
	</ul>
		
	<form class="uniForm" action="${url(controller="config", action="save")}" method="post">
		<div class="group general">
			<fieldset class="inlineLabels">
				<h3>General (need manual restart)</h3>
				<div class="ctrlHolder">
					<label>Host</label>
					<input type="text" name="global.host" value="${config.get('global', 'host')}" class="textInput large"/>
				</div>
				<div class="ctrlHolder">
					<label>Port</label>
					<input type="text" name="global.port" value="${config.get('global', 'port')}" class="textInput large"/>
				</div>
				<div class="ctrlHolder">
					<label>Username</label>
					<input type="text" name="global.username" value="${config.get('global', 'username')}" autocomplete="off" class="textInput large"/>
				</div>
				<div class="ctrlHolder">
					<label>Password</label>
					<input type="password" name="global.password" value="${config.get('global', 'password')}" autocomplete="off" class="textInput large"/>
				</div>
				<div class="ctrlHolder">
					<label>Launch browser</label>
					<input type="checkbox" name="global.launchbrowser" value="True" ${' checked="checked"' if config.get('global', 'launchbrowser') else ''} />
				</div>
				<div class="ctrlHolder checkbox">
					<label>Use updater</label>
					<input type="checkbox" name="global.updater" value="True" ${' checked="checked"' if config.get('global', 'updater') else ''} />
				</div>
			</fieldset>
			<fieldset class="inlineLabels">
				<h3>Search</h3>
				<div class="ctrlHolder">
					<label>Search every</label>
					<input type="text" name="Intervals.search" value="${config.get('Intervals', 'search')}" class="textInput xsmall"/> hour(s)
				</div>
				<div class="ctrlHolder">
					<label>Ignore words</label>
					<input type="text" name="global.ignoreWords" value="${config.get('global', 'ignoreWords')}" class="textInput large"/>
					<p class="formHint">
						Comma seperated. NZB/Torrents containing these words are ignored. Example: GERMAN, DUBBED, HDTV
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Preferred words</label>
					<input type="text" name="global.preferredWords" value="${config.get('global', 'preferredWords')}" class="textInput large"/>
					<p class="formHint">
						Comma seperated. NZB/Torrents containing these words are preferred. Example: Diamond, BluRay, DTS
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Required words</label>
					<input type="text" name="global.requiredWords" value="${config.get('global', 'requiredWords')}" class="textInput large"/>
					<p class="formHint">
						Comma seperated. NZB/Torrents must contain these words. Example: GERMAN, DTS
					</p>
				</div>
			</fieldset>
		</div>

		<div class="group content">
			<fieldset class="inlineLabels" id="nzbsFieldset">
				<h3>NZBs</h3>
				<div class="ctrlHolder checkbox">
					<label>Enable</label>
					<input type="checkbox" name="NZB.enabled" value="True" ${' checked="checked"' if config.get('NZB', 'enabled') else ''} />
				</div>
				<div class="ctrlHolder">
					<label>Retention</label>
					<input type="text" name="NZB.retention" value="${config.get('NZB', 'retention')}" class="textInput xsmall"/> day(s)
				</div>
				<div class="ctrlHolder">
					<label for="nzbSendTo">Download to</label>
					<select name="NZB.sendTo" id="nzbSendTo" class="textInput large">
						% for sendTo in ['Sabnzbd','Blackhole','Nzbget']:
						<option value="${sendTo}"${' selected="selected"' if str(sendTo) == config.get('NZB', 'sendTo') else ''}>${sendTo}</option>
						% endfor
					</select>
				</div>
				<div class="sabnzbd sendTonzb">
					<div class="ctrlHolder">
						<label>Host</label>
						<input type="text" name="Sabnzbd.host" value="${config.get('Sabnzbd', 'host')}" class="textInput large"/>
						<p class="formHint">
							Where does SABnzbd run? Usually <i>localhost:8080</i>
						</p>
					</div>
					<div class="ctrlHolder">
						<label>Apikey</label>
						<input type="text" name="Sabnzbd.apikey" value="${config.get('Sabnzbd', 'apikey')}" class="textInput large"/>
						<p class="formHint">
							Can be found in general config on SABnzbd
						</p>
					</div>
					<div class="ctrlHolder">
						<label>Username</label>
						<input type="text" name="Sabnzbd.username" value="${config.get('Sabnzbd', 'username')}" autocomplete="off" class="textInput large"/>
					</div>
					<div class="ctrlHolder">
						<label>Password</label>
						<input type="password" name="Sabnzbd.password" value="${config.get('Sabnzbd', 'password')}" autocomplete="off" class="textInput large"/>
					</div>
					<div class="ctrlHolder">
						<label>Category</label>
						<input type="text" name="Sabnzbd.category" value="${config.get('Sabnzbd', 'category')}" class="textInput large"/>
						<p class="formHint">
							Category where NZBs should be put.
						</p>
					</div>
				</div>
				<div class="nzbblackhole sendTonzb">
					<div class="ctrlHolder">
						<label>NZB Directory</label>
						<input type="text" name="NZB.blackhole" value="${config.get('NZB', 'blackhole')}" class="textInput large"/>
						<p class="formHint">
							Folder your download program watches for new .nzb files.
						</p>
					</div>
				</div>
                <div class="nzbget sendTonzb">
                    <div class="ctrlHolder">
                        <label>Host</label>
                        <input type="text" name="Nzbget.host" value="${config.get('Nzbget', 'host')}" class="textInput large" />
                        <p class="formHint">
                            Hostname with port. Usually <i>localhost:6789</i>
                        </p>
                    </div>
					<div class="ctrlHolder">
						<label>Password</label>
						<input type="password" name="Nzbget.password" value="${config.get('Nzbget', 'password')}" autocomplete="off" class="textInput large"/>
					    <p class="formHint">
							nzbGet password. Default is <i>tegbzn6789</i>
						</p>
                    </div>
					<div class="ctrlHolder">
						<label>Category</label>
						<input type="text" name="Nzbget.category" value="${config.get('Nzbget', 'category')}" class="textInput large"/>
						<p class="formHint">
							Category where NZBs should be put.
						</p>
					</div>
                </div>
			</fieldset>
			
			<fieldset class="inlineLabels" id="torrentsFieldset">
				<h3>Torrents</h3>
				<div class="ctrlHolder checkbox">
					<label>Enable</label>
					<input type="checkbox" name="Torrents.enabled" value="True" ${' checked="checked"' if config.get('Torrents', 'enabled') else ''} />
				</div>
				<div class="ctrlHolder">
					<label for="torrentsSendTo">Download to</label>
					<select name="Torrents.sendTo" id="torrentsSendTo" class="textInput large">
						% for sendTo in ['Transmission','Blackhole']:
						<option value="${sendTo}"${' selected="selected"' if str(sendTo) == config.get('Torrents', 'sendTo') else ''}>${sendTo}</option>
						% endfor
					</select>
				</div>
				<div class="transmission sendTotorrents">
					<div class="ctrlHolder">
						<label>Host</label>
						<input type="text" name="Transmission.host" value="${config.get('Transmission', 'host')}" class="textInput large"/>
						<p class="formHint">
							Where does Transmission run? Usually <i>localhost:9091</i>
						</p>
					</div>
					<div class="ctrlHolder">
						<label>Username</label>
						<input type="text" name="Transmission.username" value="${config.get('Transmission', 'username')}" autocomplete="off" class="textInput large"/>
					</div>
					<div class="ctrlHolder">
						<label>Password</label>
						<input type="password" name="Transmission.password" value="${config.get('Transmission', 'password')}" autocomplete="off" class="textInput large"/>
					</div>
					<div class="ctrlHolder">
						<label>Download Directory</label>
						<input type="text" name="Transmission.directory" value="${config.get('Transmission', 'directory')}" autocomplete="off" class="textInput large"/>
						<p class="formHint">
						Where should Transmission saved the downloaded files?
					</p>
					</div>
					<div class="ctrlHolder">
						<label>Seeding ratio</label>
						<input type="text" name="Transmission.ratio" value="${config.get('Transmission', 'ratio')}" autocomplete="off" class="textInput xsmall"/>
						<p class="formHint">
						    Stop transfer when reaching ratio 
					    </p>
						
					</div>
				</div>
				<div class="torrentsblackhole sendTotorrents">
					<div class="ctrlHolder">
					    <label>Torrent Directory</label>
					    <input type="text" name="Torrents.blackhole" value="${config.get('Torrents', 'blackhole')}" class="textInput large"/>
					    <p class="formHint">
						    Your .torrent watch folder
					    </p>
				    </div>
				</div>
				<div class="ctrlHolder">
					<label>Wait</label>
					<input type="text" name="Torrents.wait" value="${config.get('Torrents', 'wait')}" class="textInput xsmall"/> hour(s) for nzb
					<p class="formHint">
						Only if NZB download is enabled.
					</p>
				</div>
			</fieldset>
		</div>

		<div class="group renaming" id="renamingFieldset">
			<fieldset class="inlineLabels">
				<div class="ctrlHolder checkbox">
					<label>Enable</label>
					<input type="checkbox" name="Renamer.enabled" value="True" ${' checked="checked"' if config.get('Renamer', 'enabled') else ''} />
				</div>
				<div class="ctrlHolder">
					<label>Download folder</label>
					<input type="text" name="Renamer.download" value="${config.get('Renamer', 'download')}" class="textInput large"/>
					<p class="formHint">
						Your SABnzbd movie download folder
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Movie destination</label>
					<input type="text" name="Renamer.destination" value="${config.get('Renamer', 'destination')}" class="textInput large"/>
					<p class="formHint">
						Where the movies should be moved to. <br />
						Should NOT be the same as the "Download folder".
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Folder naming</label>
					<input type="text" name="Renamer.foldernaming" value="${config.get('Renamer', 'foldernaming').replace('<', '&lt;').replace('>', '&gt;')}" class="textInput large"/>
					<p class="formHint">
						<span id="foldernameResult"><strong>Result</strong>: ${foldernameResult}</span>
						<span style="color:red;">Use <strong>at least</strong> the movie name like &lt;thename&gt;/&lt;namethe&gt; in your foldername, or the world is going to end and lots of movies might get deleted..</span>
					</p>
				</div>
				<div class="ctrlHolder">
					<label>File naming</label>
					<input type="text" name="Renamer.filenaming" value="${config.get('Renamer', 'filenaming').replace('<', '&lt;').replace('>', '&gt;')}" class="textInput large"/>
					<p class="formHint">
						<span id="filenameResult"><strong>Result</strong>: ${filenameResult}</span><br />
						<a href="#" onclick="return false" id="showHideFileRenameOptions">Show naming-options</a>
					</p>
					<p class="formHint" id="fileRenameOptions" style="display: none">
						<span><strong>original</strong>: The.Big.Lebowski.1998.1080p.BluRay.x264.DTS-GROUP</span><br />
						<span><strong>thename</strong>: The Big Lebowski</span><br />
						<span><strong>namethe</strong>: Big Lebowski, The</span><br />
						<span><strong>ext</strong>: mkv</span><br />
						<span><strong>year</strong>: 2008</span><br />
						<span><strong>quality</strong>: 1080p</span><br />
						<span><strong>group</strong>: GROUP</span><br />
						<span><strong>audio</strong>: DTS</span><br />
						<span><strong>video</strong>: x264</span><br />
						<span><strong>sourcemedia</strong>: BluRay</span><br />
						<span><strong>resolution</strong>: 1920x1080</span><br />
						<span><strong>first</strong>: B (First character of movie (without "The"))</span><br />
						Only with multiple files:
						<span><strong>cd</strong>: cd1</span>
						<span><strong>cdNr</strong>: 1</span>
					</p>
				</div>
			</fieldset>
			<fieldset class="inlineLabels">
				<div class="ctrlHolder">
					<label>Name separator</label>
					<select name="Renamer.separator" class="textInput large">
						% for sep, label in {' ':'space', '.':'dot', '-':'dash'}.iteritems():
						<option value="${sep}"${' selected="selected"' if sep == config.get('Renamer', 'separator') else ''}>${label}</option>
						% endfor
					</select>
					<p class="formHint">
						Replace all the spaces with dots or dashes.
					</p>
				</div>
				<div class="ctrlHolder checkbox">
					<label>Cleanup</label>
					<input type="checkbox" name="Renamer.cleanup" value="True" ${' checked="checked"' if config.get('Renamer', 'cleanup') else ''} />
					<p class="formHint">
						Remove leftover files/folders in the Download folder.
					</p>
				</div>
			</fieldset>
		</div>

		<div class="group providers">
			<fieldset class="inlineLabels" id="newzbinFieldset">
				<h3>Newzbin</h3>
				<div class="ctrlHolder checkbox">
					<label>Enable</label>
					<input type="checkbox" name="newzbin.enabled" value="True" ${' checked="checked"' if config.get('newzbin', 'enabled') else ''} />
				</div>
				<div class="ctrlHolder">
					<label>Username</label>
					<input type="text" name="newzbin.username" value="${config.get('newzbin', 'username')}" class="textInput large"/>
				</div>
				<div class="ctrlHolder">
					<label>Password</label>
					<input type="password" name="newzbin.password" value="${config.get('newzbin', 'password')}" class="textInput large"/>
				</div>
			</fieldset>
			<fieldset class="inlineLabels" id="nzbmatrixFieldset">
				<h3>NZBMatrix.com</h3>
				<div class="ctrlHolder checkbox">
					<label>Enable</label>
					<input type="checkbox" name="NZBMatrix.enabled" value="True" ${' checked="checked"' if config.get('NZBMatrix', 'enabled') else ''} />
				</div>
				<div class="ctrlHolder">
					<label>Username</label>
					<input type="text" name="NZBMatrix.username" value="${config.get('NZBMatrix', 'username')}" autocomplete="off" class="textInput large"/>
					<p class="formHint">
						Can be found <a href="http://nzbmatrix.com/account.php" target="_blank">here</a>, "User Name"
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Apikey</label>
					<input type="text" name="NZBMatrix.apikey" value="${config.get('NZBMatrix', 'apikey')}" class="textInput large"/>
					<p class="formHint">
						Can be found <a href="http://nzbmatrix.com/account.php" target="_blank">here</a>, "Current API Key" <br />
						You have to be VIP to get an API Key (Hey, that rhymes!).
					</p>
				</div>
				<div class="ctrlHolder checkbox">
					<label>English only</label>
					<input type="checkbox" name="NZBMatrix.english" value="True" ${' checked="checked"' if config.get('NZBMatrix', 'english') else ''} />
					<p class="formHint">
					  Restrict search to English or unknown NZBs.
					</p>
				</div>
			</fieldset>
			<fieldset class="inlineLabels" id="newznabFieldset">
				<h3>Newznab</h3>
				<div class="ctrlHolder checkbox">
					<label>Enable</label>
					<input type="checkbox" name="newznab.enabled" value="True" ${' checked="checked"' if config.get('newznab', 'enabled') else ''} />
				</div>
				<div class="ctrlHolder">
					<label>Host</label>
					<input type="text" name="newznab.host" value="${config.get('newznab', 'host')}" class="textInput large"/>
					<p class="formHint">
						The hostname of your newznab provider. Example: "provider.com" or "provider.com/newznab".
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Apikey</label>
					<input type="text" name="newznab.apikey" value="${config.get('newznab', 'apikey')}" class="textInput large"/>
					<p class="formHint">
						Can be found after login on the "API" page, bottom left. The string after "&amp;apikey=".
					</p>
				</div>
				<p class="formHint">
					More info can be found at <a href="http://newznab.com" target="_blank">Newznab.com</a>.
				</p>
			</fieldset>
			<fieldset class="inlineLabels" id="nzbsorgFieldset">
				<h3>NZBs.org</h3>
				<div class="ctrlHolder checkbox">
					<label>Enable</label>
					<input type="checkbox" name="NZBsorg.enabled" value="True" ${' checked="checked"' if config.get('NZBsorg', 'enabled') else ''} />
				</div>
				<div class="ctrlHolder">
					<label>Id</label>
					<input type="text" name="NZBsorg.id" value="${config.get('NZBsorg', 'id')}" class="textInput large"/>
					<p class="formHint">
						Can be found <a href="http://nzbs.org/index.php?action=rss" target="_blank">here</a>, number after "&amp;i="
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Key</label>
					<input type="text" name="NZBsorg.key" value="${config.get('NZBsorg', 'key')}" class="textInput large"/>
					<p class="formHint">
						Can be found <a href="http://nzbs.org/index.php?action=rss" target="_blank">here</a>, string after "&amp;h="
					</p>
				</div>
			</fieldset>
			<fieldset class="inlineLabels" id="nzbsrusFieldset">
				<h3>NZBsRus.com</h3>
				<div class="ctrlHolder checkbox">
					<label>Enable</label>
					<input type="checkbox" name="NZBsRUS.enabled" value="True" ${' checked="checked"' if config.get('NZBsRUS','enabled') else''} />
				</div>
				<div class="ctrlHolder">
					<label>Id</label>
					<input type="text" name="NZBsRUS.userid" value="${config.get('NZBsRUS', 'userid')}" class="textInput large" />
					<p class="formHint">
						Can be found at the bottom of <a href="https://www.nzbsrus.com/rss.php" target="_blank">this</a> page, number after "&amp;i="
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Hash</label>
					<input type="text" name="NZBsRUS.userhash" value="${config.get('NZBsRUS', 'userhash')}" class="textInput large" />
					<p class="formHint">
						Can be found at the bottom of <a href="https://www.nzbsrus.com/rss.php" target="_blank">this</a> page, number after "&amp;h="
					</p>
				</div>
			</fieldset>

            <fieldset class="inlineLabels">
				<h3>#alt.binaries.hdtv.x264@EFnet</h3>
				<div class="ctrlHolder checkbox">
					<label>Enable</label>
					<input type="checkbox" name="x264.enabled" value="True" ${' checked="checked"' if config.get('x264','enabled') else''} />
					<p class="formHint">
						HD movies only
					</p>
				</div>
			</fieldset>

		</div>

		<div class="group userscript">
			<fieldset class="inlineLabels">
				<a href="${baseUrl}CouchPotato.user.js" class="submit userscriptInstall"><img src="${baseUrl}media/images/userscriptPreview.png" /><br />Install UserScript</a>
				<p style="font-size:11px">
					To use this UserScript, you need <a href="http://www.google.com/chrome/" target="_blank">Google Chrome</a> or the <a href="https://addons.mozilla.org/en-US/firefox/addon/748/" target="_blank">Greasemonkey addon</a> when using Firefox.
				</p>
				<p style="font-size:11px">If you're on Safari, see <a href="http://couchpotato.fafoulon.fr/" target="_blank">this (unsupported) Safari extension by Fafoulon</a></p>
			</fieldset>
		</div>

		<div class="group iphone">
			<fieldset class="inlineLabels">
				<div>Got a jailbroken iPhone? Get the CouchPotato app on Cydia! <span>(search for "<strong>iCouchPotato</strong>")</span></div>
				<img src="${baseUrl}media/images/iphone1.png" /><img src="${baseUrl}media/images/iphone2.png" /><img src="${baseUrl}media/images/iphone3.png" />
				<div>Why isn't it in the normal Appstore you ask? Because Apple is being a bitch!</div>
			</fieldset>
		</div>

		<div class="group about">
			<fieldset class="inlineLabels">
				<div>
					<a href="${url(controller='config',action='exit')}" class="submit">Shutdown</a><span class="or">or</span>
					<a href="${url(controller='config',action='restart')}" class="submit restart">Restart</a>
				</div>
				<div class="site">
					<p>
						Need help, got a question or problem?<br />
						<a href="http://couchpotato.tenderapp.com/" target="_blank">Find help on the Support Forum</a>
					</p>
				</div>
				
				<div class="site" style="margin:40px 0 0; font-size: 20px;">
					<div>Don't have a usenet account yet? Check these out: </div>
					<a href="https://usenetserver.com/partners/?a_aid=couchpotato&amp;a_bid=3f357c6f">UsenetServer</a>,
					<a href="http://www.newshosting.com/partners/?a_aid=couchpotato&amp;a_bid=a0b022df">Newshosting</a><!-- or
					<a href="http://easynews.com/free-account?a_aid=couchpotato&amp;a_bid=443b8133">14 day free Easynews trial</a> -->
					<span style="color:#aaa; font-size: 15px;">Help support CouchPotato and save some money for yourself by signing up for an account!</span>
				</div>
				
				<div id="donate">
					<div>I'm building CouchPotato in my spare time, so if you want to buy me a coke while I'm coding, that would be awesome!</div>
					<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=GFWSRM6L43T2S&amp;lc=US&amp;item_name=A%20more%20awesome%20CouchPotato&amp;currency_code=EUR&amp;bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted" target="_blank">
						<img src="${baseUrl}media/images/donate.gif" alt="PayPal - The safer, easier way to pay online!" />
					</a>
				</div>
				<div class="site">
					<a href="http://couchpotatoapp.com" target="_blank">CouchPotatoApp.com</a>
				</div>
				<div id="versionInfo">
					<h3>Version ${updater.getVersion()}</h3>
				% if updater.useUpdater():
					<a href="${url(controller='config', action='checkForUpdate')}">Check for new version</a>
				% endif
				</div>
			</fieldset>
		</div>

		<div class="group quality">
			<fieldset class="inlineLabels qualityTemplates">
				<h3>Quality Profile</h3>
				<div>
					<a href="#" id="newTemplate">Create a new quality profile.</a>
				</div>
				<p class="formHint">
					Create a list of qualities CouchPotato should go through when searching for a movie.
					It will try and download from top to bottom. Using the finish-checkbox will mark the movie as "completed" when this quality is found.
					<img src="${baseUrl}media/images/qualityProfileExample.png"><br />
					When adding a movie, you have to select this profile inside the quality list, so give it a nice name.
				</p>
				<div class="customList"></div>
			</fieldset>
			
			<fieldset class="inlineLabels">
				<h3>Default Qualities</h3>
				<div class="ctrlHolder">
					<label>Default quality</label>
					<select name="Quality.default" class="textInput large">
						% for qualityItem in Qualities.all():
						<option value="${qualityItem.name}"${' selected="selected"' if qualityItem.name == config.get('Quality', 'default') else ''}>${qualityItem.label}</option>
						% endfor
					</select>
				</div>
				<div class="ctrlHolder">
					<label>Order &amp; hide</label>
					<div class="standardQualities">
						<% hide = Qualities.conf('hide') %>
						<input type="hidden" name="Quality.order" value="" />
						<input type="hidden" name="Quality.hide" value="" />
						% for template in Qualities.all():
						<div class="item" data-id="${template.id}" data-name="${template.name}">
							<input type="checkbox" ${' checked="checked"' if not str(template.name) in hide else ''} />
							<span class="label">${template.label}</span>
							<span class="handle"></span>
						</div>
						% endfor
					</div>
				</div>
			</fieldset>
			<fieldset class="inlineLabels qualitySizes right">
				<h3>Quality sizes</h3>
				<p class="formHint">
					Only download the quality that is between these two sizes.<br />
					All that are outside these sizes, will be ignored.
				</p>
				<div class="ctrlHolder">
					<span class="size header">
						<span>Minimum</span>
						<span>Maximum</span> 
					</span>
				</div>
				% for key, quality in Qualities.getTypes():
				<div class="ctrlHolder">
					<label>${quality['label']}</label>
					<span class="size">
						<span><input type="text" name="Quality.sMin-${key}" value="${config.get('Quality', 'sMin-'+key)}" class="textInput small"/>MB</span>
						<span><input type="text" name="Quality.sMax-${key}" value="${config.get('Quality', 'sMax-'+key)}" class="textInput small"/>MB</span>
					</span>
				</div>
				% endfor
			</fieldset>
		</div>

		<div class="group extra">
			<fieldset class="inlineLabels">
				<h3>Blu-Ray.com RSS</h3>
				<div class="ctrlHolder checkbox">
					<label>Enable</label>
					<input type="checkbox" name="MovieRSS.enabled" value="True" ${' checked="checked"' if config.get('MovieRSS', 'enabled') else ''} />
					<p class="formHint">
						This will magically add movies to your wanted list that match the options below.
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Minimum movie year</label>
					<input type="text" name="MovieRSS.minyear" value="${config.get('MovieRSS', 'minyear')}" class="textInput large"/>
					<p class="formHint">
						Movies released after and including this year will be added to the wanted list
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Minimum IMDB rating</label>
					<input type="text" name="MovieRSS.minrating" value="${config.get('MovieRSS','minrating')}" class="textInput large"/>
					<p class="formHint">
						The minimum IMDB rating for a movie to be added
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Minimum IMDB votes</label>
					<input type="text" name="MovieRSS.minvotes" value="${config.get('MovieRSS','minvotes')}" class="textInput large"/>
					<p class="formHint">
						The minimum IMDB votes for a movie to be added
					</p>
				</div>
			</fieldset>
			<fieldset class="inlineLabels">
				<h3>Kinepolis.com RSS</h3>
				<div class="ctrlHolder checkbox">
					<label>Enable</label>
					<input type="checkbox" name="KinepolisRSS.enabled" value="True" ${' checked="checked"' if config.get('KinepolisRSS', 'enabled') else ''} />
					<p class="formHint">
						This will magically add movies to your wanted list that match the options below.
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Minimum movie year</label>
					<input type="text" name="KinepolisRSS.minyear" value="${config.get('KinepolisRSS', 'minyear')}" class="textInput large"/>
					<p class="formHint">
						Movies released after and including this year will be added to the wanted list
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Minimum IMDB rating</label>
					<input type="text" name="KinepolisRSS.minrating" value="${config.get('KinepolisRSS','minrating')}" class="textInput large"/>
					<p class="formHint">
						The minimum IMDB rating for a movie to be added
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Minimum IMDB Votes</label>
					<input type="text" name="KinepolisRSS.minvotes" value="${config.get('KinepolisRSS','minvotes')}" class="textInput large"/>
					<p class="formHint">
						The minimum IMDB votes for a movie to be added
					</p>
				</div>
			</fieldset>
			<fieldset class="inlineLabels" id="subtitleFieldset">
				<h3>Subtitles</h3>
				<div class="ctrlHolder checkbox">
					<label>Enable</label>
					<input type="checkbox" name="Subtitles.enabled" value="True" ${' checked="checked"' if config.get('Subtitles', 'enabled') else ''} />
				</div>
				<div class="ctrlHolder">
					<label>Language</label>
					<input type="text" name="Subtitles.languages" value="${config.get('Subtitles', 'languages')}" class="textInput large"/>
					<p class="formHint">
						Comma seperated 2-letter language code (<a href="http://en.wikipedia.org/wiki/ISO_639-1_language_matrix" target="_blank">ISO 639-1</a>). <br />
						Example: &quot;en, nl&quot;. Most importent first.
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Naming</label>
					<select name="Subtitles.name" class="textInput large">
						<option value="filename"${' selected="selected"' if 'filename' == config.get('Subtitles', 'name') else ''}>filename.ext</option>
						<option value="subtitle"${' selected="selected"' if 'subtitle' == config.get('Subtitles', 'name') else ''}>subtitle.ext</option>
					</select>
					<p class="formHint">
						&quot;There Will Be Blood.srt&quot; or &quot;Subtitle.srt&quot;
					</p>
				</div>
				<div class="ctrlHolder checkbox">
					<label>Add language to name</label>
					<input type="checkbox" name="Subtitles.addLanguage" value="True" ${' checked="checked"' if config.get('Subtitles', 'addLanguage') else ''} />
					<p class="formHint">
						Add language shortcode to end of subtitle name. Example: &quot;There Will Be Blood.en.srt&quot;
					</p>
				</div>
			</fieldset>
			<fieldset class="inlineLabels">
				<h3>Trailers</h3>
				<div class="ctrlHolder">
					<label>Download trailer</label>
					<select name="Trailer.quality" class="textInput large">
						<option value="">None</option>
						% for format in trailerFormats:
						<option value="${format}"${' selected="selected"' if format == config.get('Trailer', 'quality') else ''}>${format}</option>
						% endfor
					</select>
					<p class="formHint">
						If None, no trailer will be downloaded.
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Naming</label>
					<select name="Trailer.name" class="textInput large">
						<option value="movie-trailer"${' selected="selected"' if 'movie-trailer' == config.get('Trailer', 'name') else ''}>movie-trailer.ext</option>
						<option value="moviename-trailer"${' selected="selected"' if 'moviename-trailer' == config.get('Trailer', 'name') else ''}>&lt;filename&gt;-trailer.ext</option>
					</select>
				</div>
			</fieldset>
			<fieldset class="inlineLabels">
				<h3>Trakt Watchlist</h3>
				<div class="ctrlHolder checkbox">
					<label>Enable</label>
					<input type="checkbox" name="Trakt.enabled" value="True" ${' checked="checked"' if config.get('Trakt', 'enabled') else ''} />
					<p class="formHint">
						This will add movies from your Trakt watchlist.
					</p>
				</div>
                <div class="ctrlHolder">
					<label>Trakt Username</label>
					<input type="text" name="Trakt.username" value="${config.get('Trakt','username')}" class="textInput large"/>
					<p class="formHint">
						Your Trakt username
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Trakt Password</label>
					<input type="password" name="Trakt.password" value="${config.get('Trakt', 'password')}" class="textInput large"/>
					<p class="formHint">
						Your Trakt Password, only needed if you protect your account
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Trakt API Key</label>
					<input type="text" name="Trakt.apikey" value="${config.get('Trakt', 'apikey')}" class="textInput large"/>
					<p class="formHint">
						Your api key for trakt from http://trakt.tv/settings/api
					</p>
				</div>
			</fieldset>
			<fieldset class="inlineLabels">
				<h3>Metadata</h3>
				<div class="ctrlHolder checkbox">
					<label>Save metadata</label>
					<input type="checkbox" name="Meta.enabled" value="True" ${' checked="checked"' if config.get('Meta', 'enabled') else ''} />
					<p class="formHint">
						Thumbnail, poster and .nfo file.
					</p>
				</div>
			</fieldset>
			<fieldset class="inlineLabels">
				<h3>MovieETA</h3>
				<div class="ctrlHolder checkbox">
					<label>Check VideoETA</label>
					<input type="checkbox" name="MovieETA.enabled" value="True" ${' checked="checked"' if config.get('MovieETA', 'enabled') else ''} />
				</div>
			</fieldset>
		</div>
		<div class="group notifications">
			<fieldset class="inlineLabels" id="xbmcFieldset">
				<h3>XBMC</h3>
				<div class="ctrlHolder checkbox">
					<label>Update library</label>
					<input type="checkbox" name="XBMC.enabled" value="True" ${' checked="checked"' if config.get('XBMC', 'enabled') else ''} />
					<p class="formHint">
						Sends a notification and updates your XBMC library.
					</p>
				</div>
				<div class="ctrlHolder checkbox">
					<label>Also on snatched</label>
					<input type="checkbox" name="XBMC.onSnatch" value="True" ${' checked="checked"' if config.get('XBMC', 'onSnatch') else ''} />
					<p class="formHint">
						Also send a notification when a movie is snatched.
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Host</label>
					<input type="text" name="XBMC.host" value="${config.get('XBMC', 'host')}" class="textInput large"/>
					<p class="formHint">
						Including port. Example: 192.168.1.20:8080
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Username</label>
					<input type="text" name="XBMC.username" value="${config.get('XBMC', 'username')}" autocomplete="off" class="textInput large"/>
				</div>
				<div class="ctrlHolder">
					<label>Password</label>
					<input type="password" name="XBMC.password" value="${config.get('XBMC', 'password')}" autocomplete="off" class="textInput large"/>
				</div>
				<div class="ctrlHolder">
					<a href="#xbmcTest" id="xbmcTest" class="testNotification">Send a message to XBMC, see if it works.</a>
				</div>
				<div class="ctrlHolder">
					<label>DB Path</label>
					<input type="text" name="XBMC.dbpath" value="${config.get('XBMC', 'dbpath')}" autocomplete="off" class="textInput large"/>
					<p class="formHint">
						Used for checking if you already have a movie in you library, before adding it to your wanted list.
						Example: C:\Users\Username\AppData\Roaming\XBMC\userdata\Database
					</p>
				</div>
			</fieldset>
			<fieldset class="inlineLabels" id="nmjFieldset">
				<h3>Networked Media Jukebox</h3>
				<div class="ctrlHolder checkbox">
					<label>Update library</label>
					<input type="checkbox" name="NMJ.enabled" value="True" ${' checked="checked"' if config.get('NMJ', 'enabled') else ''} />
					<p class="formHint">
						Updates your NMJ library.
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Host</label>
					<input type="text" name="NMJ.host" value="${config.get('NMJ', 'host')}" class="textInput large NMJhost"/>
					<p class="formHint">
						Example: 192.168.1.20
					</p>
				</div>
				<div class="ctrlHolder">
					<a href="#nmjAuto" id="nmjAuto" class="testNotification">Autodetect NMJ Database and mount</a>
					<p class="formHint">
						Popcorn Hour needs to be on, and NMJ must be running.
					</p>
				</div>
				<div class="ctrlHolder">
					<label>NMJ Database</label>
					<input type="text" name="NMJ.database" value="${config.get('NMJ', 'database')}" autocomplete="off" class="textInput large NMJdatabase" />
					<p class="formHint">
						Path to the NMJ Database.
					</p>
				</div>
				<div class="ctrlHolder">
					<label>NMJ Mount URL</label>
					<input type="text" name="NMJ.mount" value="${config.get('NMJ', 'mount')}" autocomplete="off" class="textInput large NMJmount"/>
					<p class="formHint">
						Only needed when the database is on a network path.
					</p>
				</div>
				<div class="ctrlHolder">
					<a href="#nmjTest" id="nmjTest" class="testNotification">Update the NMJ database, see if it works.</a>
				</div>
			</fieldset>
			<fieldset class="inlineLabels" id="plexFieldset">
				<h3>Plex Media Server</h3>
				<div class="ctrlHolder checkbox">
					<label>Update library</label>
					<input type="checkbox" name="PLEX.enabled" value="True" ${' checked="checked"' if config.get('PLEX', 'enabled') else ''} />
					<p class="formHint">
						Updates your Plex library.
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Host</label>
					<input type="text" name="PLEX.host" value="${config.get('PLEX', 'host')}" class="textInput large PLEXhost"/>
					<p class="formHint">
						Including port. Example: 192.168.1.20:32400
					</p>
				</div>
				<div class="ctrlHolder">
					<a href="#plexTest" id="plexTest" class="testNotification">Update the Plex database, see if it works.</a>
				</div>
			</fieldset>
			<fieldset class="inlineLabels" id="prowlFieldset">
				<h3>Prowl</h3>
				<div class="ctrlHolder checkbox">
					<label>Enable</label>
					<input type="checkbox" name="PROWL.enabled" value="True" ${' checked="checked"' if config.get('PROWL', 'enabled') else ''} />
					<p class="formHint">
						Sends a notification to Prowl
					</p>
				</div>
				<div class="ctrlHolder checkbox">
					<label>Also on snatched</label>
					<input type="checkbox" name="PROWL.onSnatch" value="True" ${' checked="checked"' if config.get('PROWL', 'onSnatch') else ''} />
					<p class="formHint">
						Also send a notification when a movie is snatched.
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Keys</label>
					<input type="text" name="PROWL.keys" value="${config.get('PROWL', 'keys')}" class="textInput large"/>
					<p class="ctrlHolder"> 
						<a href="https://www.prowlapp.com/api_settings.php" target="_blank" class="testNotification">Get your Prowl api key here</a>
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Priority</label>
					<select name="PROWL.priority" class="textInput large">
					<option value="-2"${' selected="selected"' if config.get('PROWL', 'priority') == '-2' else ''}>Very Low</option>
					<option value="-1"${' selected="selected"' if config.get('PROWL', 'priority') == '-1' else ''}>Moderate</option>
					<option value="0"${' selected="selected"' if config.get('PROWL', 'priority') == '0' else ''}>Normal</option>
					<option value="1"${' selected="selected"' if config.get('PROWL', 'priority') == '1' else ''}>High</option>
					<option value="2"${' selected="selected"' if config.get('PROWL', 'priority') == '2' else ''}>Emergency</option>
					</select>
				</div>
				<div class="ctrlHolder">
					<a href="#prowlTest" id="prowlTest" class="testNotification">Send a message to Prowl, see if it works.</a>
				</div>
			</fieldset>
			<fieldset class="inlineLabels" id="growlFieldset">
				<h3>Growl</h3>
				<div class="ctrlHolder checkbox">
					<label>Enable</label>
					<input type="checkbox" name="GROWL.enabled" value="True" ${' checked="checked"' if config.get('GROWL', 'enabled') else ''} />
					<p class="formHint">
						Sends a notification to Growl.
					</p>
				</div>
				<div class="ctrlHolder checkbox">
					<label>Also on snatched</label>
					<input type="checkbox" name="GROWL.onSnatch" value="True" ${' checked="checked"' if config.get('GROWL', 'onSnatch') else ''} />
					<p class="formHint">
						Also send a notification when a movie is snatched.
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Host</label>
					<input type="text" name="GROWL.host" value="${config.get('GROWL', 'host')}" class="textInput large"/>
					<p class="formHint">
						Example: 192.168.1.20
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Password</label>
					<input type="password" name="GROWL.password" value="${config.get('GROWL', 'password')}" autocomplete="off" class="textInput large"/>
				</div>
				<div class="ctrlHolder">
					<a href="#growlTest" id="growlTest" class="testNotification">Send a message to Growl, see if it works.</a>
				</div>
				<p class="ctrlHolder formHint">
					Be sure to enable "Listen for incoming notifications" in your Growl Settings, under Network.
				</p>
			</fieldset>
			<fieldset class="inlineLabels" id="notifoFieldset">
				<h3>Notifo</h3>
				<div class="ctrlHolder checkbox">
					<label>Enabled</label>
					<input type="checkbox" name="Notifo.enabled" value="True" ${' checked="checked"' if config.get('Notifo', 'enabled') else ''} />
					<p class="formHint">
						Sends a notification to Notifo
					</p>
				</div>
				<div class="ctrlHolder checkbox">
					<label>Also on snatched</label>
					<input type="checkbox" name="Notifo.onSnatch" value="True" ${' checked="checked"' if config.get('Notifo', 'onSnatch') else ''} />
					<p class="formHint">
						Also send a notification when a movie is snatched.
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Username</label>
					<input type="text" name="Notifo.username" value="${config.get('Notifo', 'username')}" class="textInput large" />
				</div>
				<div class="ctrlHolder">
					<label>API Secret</label>
					<input type="text" name="Notifo.key" value="${config.get('Notifo', 'key')}" class="textInput large" />
					<p class="formHint">
						Get your API secret at:
						<a href="http://notifo.com/user/settings" target="blank">http://notifo.com/user/settings</a>
					</p>
				</div>
				<div class="ctrlHolder">
					<a href="#notifoTest" id="notifoTest" class="testNotification">Send a message to Notifo, see if it works.</a>
				</div>
			</fieldset>
			<fieldset class="inlineLabels" id="boxcarFieldset">
				<h3>Boxcar</h3>
				<div class="ctrlHolder checkbox">
					<label>Enabled</label>
					<input type="checkbox" name="Boxcar.enabled" value="True" ${' checked="checked"' if config.get('Boxcar', 'enabled') else ''} />
					<p class="formHint">
						Sends a notification to <a href="http://boxcar.io/" target="blank">Boxcar</a>
					</p>
				</div>
				<div class="ctrlHolder checkbox">
					<label>Also on snatched</label>
					<input type="checkbox" name="Boxcar.onSnatch" value="True" ${' checked="checked"' if config.get('Boxcar', 'onSnatch') else ''} />
					<p class="formHint">
						Also send a notification when a movie is snatched.
					</p>
				</div>
				<div class="ctrlHolder">
					<label>Username</label>
					<input type="text" name="Boxcar.username" value="${config.get('Boxcar', 'username')}" class="textInput large" />
				</div>
				<div class="ctrlHolder">
					<label>Password</label>
					<input type="text" name="Boxcar.password" value="${config.get('Boxcar', 'password')}" class="textInput large" />
				</div>
				<div class="ctrlHolder">
					<a href="#boxcarTest" id="boxcarTest" class="testNotification">Send a message to Boxcar, see if it works.</a>
				</div>
			</fieldset>
			<fieldset class="inlineLabels" id="nmaFieldset">
				<h3>NotifyMyAndroid</h3>
				<div class="ctrlHolder checkbox">
					<label>Enabled</label>
					<input type="checkbox" name="NMA.enabled" value="True" ${' checked="checked"' if config.get('NMA', 'enabled') else ''} />
					<p class="formHint">
						Sends a notification to NotifyMyAndroid
					</p>
				</div>
				<div class="ctrlHolder checkbox">
					<label>Also on snatched</label>
					<input type="checkbox" name="NMA.onSnatch" value="True" ${' checked="checked"' if config.get('NMA', 'onSnatch') else ''} />
					<p class="formHint">
						Also send a notification when a movie is snatched.
					</p>
				</div>
				<div class="ctrlHolder">
					<label>API Key</label>
					<input type="text" name="NMA.apikey" value="${config.get('NMA', 'apikey')}" class="textInput large" />
					<p class="formHint">
					Multiple keys must be seperated by a , (comma). Up to a maximum of 5
					</p>
				</div>
				<div class="ctrlHolder">
					<a href="#nmaTest" id="nmaTest" class="testNotification">Send a message to NotifyMyAndroid, see if it works.</a>
				</div>
				<div class="ctrlHolder">
					<label>Priority</label>
					<select name="NMA.priority" class="textInput large">
					<option value="-2"${' selected="selected"' if config.get('NMA', 'priority') == '-2' else ''}>Very Low</option>
					<option value="-1"${' selected="selected"' if config.get('NMA', 'priority') == '-1' else ''}>Moderate</option>
					<option value="0"${' selected="selected"' if config.get('NMA', 'priority') == '0' else ''}>Normal</option>
					<option value="1"${' selected="selected"' if config.get('NMA', 'priority') == '1' else ''}>High</option>
					<option value="2"${' selected="selected"' if config.get('NMA', 'priority') == '2' else ''}>Emergency</option>
					</select>
				</div>
			</fieldset>
            <fieldset class="inlineLabels" id="twitterFieldset">
				<h3>Twitter</h3>
				<div class="ctrlHolder checkbox">
					<label>Enabled</label>
					<input type="checkbox" name="Twitter.enabled" value="True" ${' checked="checked"' if config.get('Twitter', 'enabled') else ''} />
					<p class="formHint">
						Sends a notification on Twitter.
					</p>
				</div>
				<div class="ctrlHolder checkbox">
					<label>Also on snatched</label>
					<input type="checkbox" name="Twitter.onSnatch" value="True" ${' checked="checked"' if config.get('Twitter', 'onSnatch') else ''} />
					<p class="formHint">
						Also send a notification when a movie is snatched.
					</p>
				</div>
                % if not config.get('Twitter', 'isAuthenticated'):
                <div class"ctrlHolder">
                    <a href="${url(controller='config', action='twitterReqAuth')}" class="testNotification">Request Authorization</a>
                </div>
                % endif
				<div class="ctrlHolder">
					<a href="#twitterTest" id="twitterTest" class="testNotification">Send a notification on Twitter, see if it works.</a>
				</div>
			</fieldset>
            <fieldset class="inlineLabels" id="synoIndexFieldset">
				<h3>Synology Media Server</h3>
				<div class="ctrlHolder checkbox">
					<label>Enabled</label>
					<input type="checkbox" name="Synoindex.enabled" value="True" ${' checked="checked"' if config.get('Synoindex', 'enabled') else ''} />
					<p class="formHint">
						Automaticly adds index to Synology Media Server.
					</p>
				</div>
                <p class="ctrlHolder formHint">
                    This only works if CP is running on a Synology NAS.
				</p>
			</fieldset>
		</div>
		<div class="buttonHolder">
			<span class="cancel"><a href="#cancel">Cancel</a> or</span> 
			<button type="submit" class="primaryAction">
				Save &raquo;
			</button>
		</div>
	</form>
</div>

<script type="text/javascript">

	var form = $('configForm').getElement('form');
	window.addEvent('domready', function(){

		// Quality sorting and hiding
		var sq = form.getElement('.standardQualities')
		var saveQualityTemplateOrder = function(){
			data = []
			hide = []
			sq.getElements('.item').each(function(el){
				var checkbox = el.getElement('input[type=checkbox]')
				var label = el.getElement('.label')
				label.setStyle('opacity', 1)
				
				data.append([el.get('data-id')])
				
				if (!checkbox.get('checked')){
					hide.append([el.get('data-name')])
					label.setStyle('opacity', 0.6)
				}
			})
			sq.getElement('input[name=Quality.order]').set('value', data)
			sq.getElement('input[name=Quality.hide]').set('value', hide)
		}
		
		sq.getElements('.item input[type=checkbox]').addEvent('click', saveQualityTemplateOrder)

		var qualitySortable = new Sortables(sq, {
			'revert': true,
			'clone': true,
			'handle': '.handle',
			'opacity': 0.5,
			'onComplete': saveQualityTemplateOrder
		});
		saveQualityTemplateOrder()

		var qt = form.getElement('.qualityTemplates')
<%
		import json
		types = json.dumps(dict([(v['order'], v) for k, v in Qualities.getTypes()]))
		templates = json.dumps(Qualities.getTemplates())
%>
		var q = new Quality(qt, ${types}, ${templates});
		
		$('newTemplate').addEvent('click', function(e){
			(e).stop()
			q.add({
				'id':0,
				'name': 'New Quality',
				'waitFor': 0,
				'types': [{
					'type':'720p',
					'markComplete': true
				}]
			})
		})
		
		var showHideFileRenameOptionsLink = form.getElement('a[id=showHideFileRenameOptions]')
		
		var toggleFileRenameOptions = function(){
			var field = form.getElement('p[id=fileRenameOptions]')
			if(field.getStyle('display') != 'none'){
				field.setStyle('display', 'none')
				showHideFileRenameOptionsLink.innerText = "Show naming-options"
			}
			else{
				field.setStyle('display', 'block')
				showHideFileRenameOptionsLink.innerText = "Hide naming-options"
			}
		}
		
		showHideFileRenameOptionsLink.addEvent('click', toggleFileRenameOptions)

		// Replace Userscript IE
		if (Browser.ie){
			form.getElement('.userscript fieldset a').setStyle('display', 'none')
		}
		
		// Get host and post with Userscript
		var usButton = $('configForm').getElement('.userscriptInstall')
		usButton.set('href', usButton.get('href')+'?host='+location.href.replace('config/', '')+'&type=CouchPotato.user.js')
		
		// Match label to input, cause i'm lazy
		form.getElements('label').each(function(el, nr){
			if(!el.get('for')){
				var id = 'formItem-'+nr
				el.set('for', id)
				el.getNext().set('id', id)
			}
		});
	
		// Form highlight
	    new Uniform();

		// Renaming disabled stuff
	    var isEnabled = function(checkbox, fieldset){
	        if (checkbox.get('checked')) 
	            fieldset.getElements('.ctrlHolder').setStyle('opacity', 1)
	        else {
	        	var first = fieldset.getElement('.ctrlHolder');
	            fieldset.getElements('.ctrlHolder').each(function(el){
	            	if(el != first) el.setStyle('opacity', 0.5)
	            });
	        }
	    }
		
		Array.each(['renamingFieldset','torrentsFieldset','nzbsFieldset','nzbmatrixFieldset','nzbsorgFieldset','newznabFieldset','subtitleFieldset', 'xbmcFieldset', 'nmjFieldset', 'plexFieldset', 'prowlFieldset', 'growlFieldset', 'notifoFieldset', 'boxcarFieldset', 'nmaFieldset', 'twitterFieldset', 'synoIndexFieldset'],function(item){
		    var fieldset = $(item)
		    var checkbox = fieldset.getElement('[type=checkbox]')
		    isEnabled(checkbox, fieldset)
		    checkbox.addEvent('change', function(){
		        isEnabled(checkbox, fieldset)
		    });
		})
		
		// hide unused sendto for nzb
		var sendToSelectnzb = $('nzbSendTo')
	    var sendTonzb = function(){
			form.getElements('.sendTonzb').setStyle('display', 'none')
	        if (sendToSelectnzb.get('value') == 'Sabnzbd') 
	            form.getElement('.sabnzbd').setStyle('display', 'block')
            else if (sendToSelectnzb.get('value') == 'Nzbget') 
	            form.getElement('.nzbget').setStyle('display', 'block')
	        else 
	            form.getElement('.nzbblackhole').setStyle('display', 'block')
	    }
		sendToSelectnzb.addEvent('change', sendTonzb);
		sendTonzb();
		
		// hide unused sendto for torrents
		var sendToSelecttorrents = $('torrentsSendTo')
	    var sendTotorrents = function(){
			form.getElements('.sendTotorrents').setStyle('display', 'none')
	        if (sendToSelecttorrents.get('value') == 'Transmission') 
	            form.getElement('.transmission').setStyle('display', 'block')
	        else 
	            form.getElement('.torrentsblackhole').setStyle('display', 'block')
	    }
		sendToSelecttorrents.addEvent('change', sendTotorrents);
		sendTotorrents();
		
		 // Cancel button
		form.getElements('.cancel a').addEvent('click', function(e){
			(e).stop()
			history.back();
		});
		
		// Shutdown button
		form.getElements('.about a.submit').addEvent('click', function(e){
			(e).stop()
	        new Spinner(e.target).show();
			new Request({
				'url': e.target.get('href'),
				'onComplete': function(){
					if (e.target.get('text') == 'Restart')
						e.target.getParent().set('text', 'CouchPotato will restart in a few seconds.')
					else
						e.target.getParent().set('text', 'CouchPotato has shutdown.')
	        		new Spinner(e.target).hide();
				}
			}).send()
		});
		
		// Menu
		$('configForm').getElements('ul a').addEvent('click', function(e){
			(e).stop()
			
			showForm(e.target, e.target.get('href').substr(1))

		});
		var showForm = function(el, name){
			form.getElements('.group').removeClass('current')
			form.getElements('.group.'+name).addClass('current')

			$('configForm').getElements('ul a').removeClass('current');
			el.addClass('current');
		}
		var firstItem = $('configForm').getElement('ul li:last-child a');
		showForm(firstItem, firstItem.get('href').substr(1));
		
		$('xbmcTest').addEvent('click', function(e){
			(e).stop()
			new Request({
				'url': './testXBMC/',
				'data': $('xbmcFieldset')
			}).send()
		})
		$('plexTest').addEvent('click', function(e){
			(e).stop()
			new Request({
				'url': './testPLEX/',
				'data': $('plexFieldset')
			}).send()
		})
		$('prowlTest').addEvent('click', function(e){
			(e).stop()
			new Request({
				'url': './testPROWL/',
				'data': $('prowlFieldset')
			}).send()
		})
		$('growlTest').addEvent('click', function(e){
			(e).stop()
			new Request({
				'url': './testGROWL/',
				'data': $('growlFieldset')
			}).send()
		})
		$('notifoTest').addEvent('click', function(e){
			(e).stop()
			new Request({
				'url': './testNotifo/',
				'data': $('notifoFieldset')
			}).send()
		})
		$('boxcarTest').addEvent('click', function(e){
			(e).stop()
			new Request({
				'url': './testBoxcar/',
				'data': $('boxcarFieldset')
			}).send()
		})
		$('nmjTest').addEvent('click', function(e){
			(e).stop()
			new Request({
				'url': './testNMJ/',
				'data': $('nmjFieldset')
			}).send()
		})
		$('nmjAuto').addEvent('click', function(e){
			(e).stop()
			if (form.getElement('.NMJhost').value == '') {
				alert('Please fill in the Popcorn Hour IP address');
				form.getElement('.NMJhost').focus();
				return
			}
			new Request.JSON({
				url: './autoNMJ/',
				onComplete: function(response){
					if (response == null) return
					form.getElement('.NMJdatabase').value = response.database;
					form.getElement('.NMJmount').value = response.mount;
				},
				data: $('nmjFieldset')
			}).send()
		})
		$('nmaTest').addEvent('click',function(e){
			(e).stop()
			new Request({
				'url': './testNMA/',
				'data': $('nmaFieldset')
			}).send()
		})
        $('twitterTest').addEvent('click',function(e){
			(e).stop()
			new Request({
				'url': './testTwitter/',
				'data': $('twitterFieldset')
			}).send()
		})
	});

</script>

<%inherit file="/base.html" />
