<div id="configForm">
	<ul>
		<li><a href="#general">General</a></li>
		<li><a href="#content">NZBs / Torrents</a></li>
		<li><a href="#providers">Providers</a></li>
		<li><a href="#quality">Quality</a></li>
		<li><a href="#renaming">Renaming</a></li>
		<li><a href="#extra">Extras</a></li>
		<li><a href="#userscript">Userscript</a></li>
		<li><a href="#about">About</a></li>
	</ul>
		
	<form class="uniForm" action="${url(controller="config", action="save")}" method="post">
		<div class="group general">
			<fieldset class="inlineLabels">
				<h3>General (need manual restart)</h3>
				<div class="ctrlHolder">
					<label for="">Host</label>
					<input type="text" name="global.host" value="${config.get('global', 'host')}" class="textInput large"/>
				</div>
				<div class="ctrlHolder">
					<label for="">Port</label>
					<input type="text" name="global.port" value="${config.get('global', 'port')}" class="textInput large"/>
				</div>
				<div class="ctrlHolder">
					<label for="">Username</label>
					<input type="text" name="global.username" value="${config.get('global', 'username')}" autocomplete="off" class="textInput large"/>
				</div>
				<div class="ctrlHolder">
					<label for="">Password</label>
					<input type="password" name="global.password" value="${config.get('global', 'password')}" autocomplete="off" class="textInput large"/>
				</div>
				<div class="ctrlHolder">
					<label for="">Launch browser</label>
					<input type="checkbox" name="global.launchbrowser" value="True" ${' checked="checked"' if config.get('global', 'launchbrowser') else ''} />
				</div>
				<div class="ctrlHolder checkbox">
					<label for="">Use updater</label>
					<% hasGit = updater.hasGit() %>
					<input type="checkbox" name="global.updater" value="True" ${' checked="checked"' if config.get('global', 'updater') and not hasGit else ''} ${' disabled="disabled"' if hasGit else ''} />
					% if hasGit:
					<p class="formHint">
						To enable the CouchPotato Updater, remove the ".git" folder.
						Otherwise use "git pull".
					</p>
					% endif
				</div>
			</fieldset>
			<fieldset class="inlineLabels">
				<h3>Search</h3>
				<div class="ctrlHolder">
					<label for="">Search every</label>
					<input type="text" name="Intervals.search" value="${config.get('Intervals', 'search')}" class="textInput xsmall"/> hour(s)
				</div>
				<div class="ctrlHolder">
					<label for="">Ignore words</label>
					<input type="text" name="global.ignoreWords" value="${config.get('global', 'ignoreWords')}" class="textInput large"/>
					<p class="formHint">
						Comma seperated. NZB/Torrents containing these words are ignored. Example: GERMAN, DUBBED, HDTV
					</p>
				</div>
				<div class="ctrlHolder">
					<label for="">Preferred words</label>
					<input type="text" name="global.preferredWords" value="${config.get('global', 'preferredWords')}" class="textInput large"/>
					<p class="formHint">
						Comma seperated. NZB/Torrents containing these words are preferred. Example: Diamond, BluRay, DTS
					</p>
				</div>
				<div class="ctrlHolder">
					<label for="">Required words</label>
					<input type="text" name="global.requiredWords" value="${config.get('global', 'requiredWords')}" class="textInput large"/>
					<p class="formHint">
						Comma seperated. NZB/Torrents must contain these words. Example: GERMAN, DTS
					</p>
				</div>
			</fieldset>
		</div>

		<div class="group content">
			<fieldset class="inlineLabels" id="nzbsFieldset">
				<h3>NZBs</h3>
				<div class="ctrlHolder checkbox">
					<label for="">Enable</label>
					<input type="checkbox" name="NZB.enabled" value="True" ${' checked="checked"' if config.get('NZB', 'enabled') else ''} />
				</div>
				<div class="ctrlHolder">
					<label for="">Retention</label>
					<input type="text" name="NZB.retention" value="${config.get('NZB', 'retention')}" class="textInput xsmall"/> day(s)
				</div>
				<div class="ctrlHolder">
					<label for="nzbSendTo">Download to</label>
					<select name="NZB.sendTo" id="nzbSendTo" class="textInput large">
						% for sendTo in ['Sabnzbd','Blackhole']:
						<option value="${sendTo}"${' selected="selected"' if str(sendTo) == config.get('NZB', 'sendTo') else ''}>${sendTo}</option>
						% endfor
					</select>
				</div>
				<div class="sabnzbd sendTo">
					<div class="ctrlHolder">
						<label for="">Host</label>
						<input type="text" name="Sabnzbd.host" value="${config.get('Sabnzbd', 'host')}" class="textInput large"/>
						<p class="formHint">
							Where does SABnzbd run? Usually <i>localhost:8080</i>
						</p>
					</div>
					<div class="ctrlHolder">
						<label for="">Apikey</label>
						<input type="text" name="Sabnzbd.apikey" value="${config.get('Sabnzbd', 'apikey')}" class="textInput large"/>
						<p class="formHint">
							Can be found in general config on SABnzbd
						</p>
					</div>
					<div class="ctrlHolder">
						<label for="">Username</label>
						<input type="text" name="Sabnzbd.username" value="${config.get('Sabnzbd', 'username')}" autocomplete="off" class="textInput large"/>
					</div>
					<div class="ctrlHolder">
						<label for="">Password</label>
						<input type="password" name="Sabnzbd.password" value="${config.get('Sabnzbd', 'password')}" autocomplete="off" class="textInput large"/>
					</div>
					<div class="ctrlHolder">
						<label for="">Category</label>
						<input type="text" name="Sabnzbd.category" value="${config.get('Sabnzbd', 'category')}" class="textInput large"/>
						<p class="formHint">
							Category where NZBs should be put.
						</p>
					</div>
				</div>
				<div class="blackhole sendTo">
					<div class="ctrlHolder">
						<label for="">NZB Directory</label>
						<input type="text" name="NZB.blackhole" value="${config.get('NZB', 'blackhole')}" class="textInput large"/>
						<p class="formHint">
							Folder your download program watches for new .nzb files.
						</p>
					</div>
				</div>
			</fieldset>
			
			<fieldset class="inlineLabels" id="torrentsFieldset">
				<h3>Torrents</h3>
				<div class="ctrlHolder checkbox">
					<label for="">Enable</label>
					<input type="checkbox" name="Torrents.enabled" value="True" ${' checked="checked"' if config.get('Torrents', 'enabled') else ''} />
				</div>
				<div class="ctrlHolder">
					<label for="">Download to</label>
					<input type="text" name="Torrents.blackhole" value="${config.get('Torrents', 'blackhole')}" class="textInput large"/>
					<p class="formHint">
						Your .torrent watch folder
					</p>
				</div>
				<div class="ctrlHolder">
					<label for="">Wait</label>
					<input type="text" name="Torrents.wait" value="${config.get('Torrents', 'wait')}" class="textInput xsmall"/> hour(s) for nzb
					<p class="formHint">
						Only if NZB download is enabled.
					</p>
				</div>
			</fieldset>
		</div>

		<div class="group renaming" id="renamingFieldset">
			<fieldset class="inlineLabels">
				<div class="ctrlHolder checkbox">
					<label for="">Enable</label>
					<input type="checkbox" name="Renamer.enabled" value="True" ${' checked="checked"' if config.get('Renamer', 'enabled') else ''} />
				</div>
				<div class="ctrlHolder">
					<label for="">Download folder</label>
					<input type="text" name="Renamer.download" value="${config.get('Renamer', 'download')}" class="textInput large"/>
					<p class="formHint">
						Your SABnzbd movie download folder
					</p>
				</div>
				<div class="ctrlHolder">
					<label for="">Movie destination</label>
					<input type="text" name="Renamer.destination" value="${config.get('Renamer', 'destination')}" class="textInput large"/>
					<p class="formHint">
						Where the movies should be moved to. <br />
						Should NOT be the same as the "Download folder".
					</p>
				</div>
				<div class="ctrlHolder">
					<label for="">Folder naming</label>
					<input type="text" name="Renamer.foldernaming" value="${config.get('Renamer', 'foldernaming').replace('<', '&lt;').replace('>', '&gt;')}" class="textInput large"/>
					<p class="formHint">
						<span id="foldernameResult"><strong>Result</strong>: ${foldernameResult}</span>
					</p>
				</div>
				<div class="ctrlHolder">
					<label for="">File naming</label>
					<input type="text" name="Renamer.filenaming" value="${config.get('Renamer', 'filenaming').replace('<', '&lt;').replace('>', '&gt;')}" class="textInput large"/>
					<p class="formHint">
						<span id="filenameResult"><strong>Result</strong>: ${filenameResult}</span><br />
						<span><strong>thename</strong>: The Movie</span>
						<span><strong>ext</strong>: ext</span>
						<span><strong>year</strong>: 2010</span>
						<span><strong>quality</strong>: 1080P</span>
						<span><strong>namethe</strong>: Movie, The</span><br />
						<span><strong>first</strong>: First character of movie (without "The")</span><br />
						Only with multiple files:
						<span><strong>cd</strong>: cd1</span>
						<span><strong>cdNr</strong>: 1</span>
					</p>
				</div>
			</fieldset>
			<fieldset class="inlineLabels">
				<div class="ctrlHolder">
					<label for="">Name separator</label>
					<select name="Renamer.separator" class="textInput large">
						% for sep, label in {' ':'space', '.':'dot', '-':'dash'}.iteritems():
						<option value="${sep}"${' selected="selected"' if sep == config.get('Renamer', 'separator') else ''}>${label}</option>
						% endfor
					</select>
					<p class="formHint">
						Replace all the spaces with dots or dashes.
					</p>
				</div>
				<div class="ctrlHolder checkbox">
					<label for="">Cleanup</label>
					<input type="checkbox" name="Renamer.cleanup" value="True" ${' checked="checked"' if config.get('Renamer', 'cleanup') else ''} />
					<p class="formHint">
						Remove leftover files/folders in the Download folder.
					</p>
				</div>
			</fieldset>
		</div>

		<div class="group providers">
			<fieldset class="inlineLabels" id="newzbinFieldset">
				<h3>Newzbin</h3>
				<div class="ctrlHolder checkbox">
					<label for="">Enable</label>
					<input type="checkbox" name="newzbin.enabled" value="True" ${' checked="checked"' if config.get('newzbin', 'enabled') else ''} />
				</div>
				<div class="ctrlHolder">
					<label for="">Username</label>
					<input type="text" name="newzbin.username" value="${config.get('newzbin', 'username')}" class="textInput large"/>
				</div>
				<div class="ctrlHolder">
					<label for="">Password</label>
					<input type="password" name="newzbin.password" value="${config.get('newzbin', 'password')}" class="textInput large"/>
				</div>
			</fieldset>
			<fieldset class="inlineLabels" id="nzbmatrixFieldset">
				<h3>NZBMatrix.com</h3>
				<div class="ctrlHolder checkbox">
					<label for="">Enable</label>
					<input type="checkbox" name="NZBMatrix.enabled" value="True" ${' checked="checked"' if config.get('NZBMatrix', 'enabled') else ''} />
				</div>
				<div class="ctrlHolder">
					<label for="">Username</label>
					<input type="text" name="NZBMatrix.username" value="${config.get('NZBMatrix', 'username')}" autocomplete="off" class="textInput large"/>
					<p class="formHint">
						Can be found <a href="http://nzbmatrix.com/account.php" target="_blank">here</a>, "User Name"
					</p>
				</div>
				<div class="ctrlHolder">
					<label for="">Apikey</label>
					<input type="text" name="NZBMatrix.apikey" value="${config.get('NZBMatrix', 'apikey')}" class="textInput large"/>
					<p class="formHint">
						Can be found <a href="http://nzbmatrix.com/account.php" target="_blank">here</a>, "Current API Key" <br />
						You have to be VIP to get an API Key (Hey, that rhymes!).
					</p>
				</div>
				<div class="ctrlHolder checkbox">
					<label for="">English only</label>
					<input type="checkbox" name="NZBMatrix.english" value="True" ${' checked="checked"' if config.get('NZBMatrix', 'english') else ''} />
					<p class="formHint">
					  Restrict search to English or unknown NZBs.
					</p>
				</div>
			</fieldset>
			<fieldset class="inlineLabels" id="newznabFieldset">
				<h3>Newznab</h3>
				<div class="ctrlHolder checkbox">
					<label for="">Enable</label>
					<input type="checkbox" name="newznab.enabled" value="True" ${' checked="checked"' if config.get('newznab', 'enabled') else ''} />
				</div>
				<div class="ctrlHolder">
					<label for="">Host</label>
					<input type="text" name="newznab.host" value="${config.get('newznab', 'host')}" class="textInput large"/>
					<p class="formHint">
						The hostname of your newznab provider. Example: "provider.com" or "provider.com/newznab".
					</p>
				</div>
				<div class="ctrlHolder">
					<label for="">Apikey</label>
					<input type="text" name="newznab.apikey" value="${config.get('newznab', 'apikey')}" class="textInput large"/>
					<p class="formHint">
						Can be found after login on the "API" page, bottom left. The string after "&amp;apikey=".
					</p>
				</div>
				<p class="formHint">
					More info can be found at <a href="http://newznab.com" target="_blank">Newznab.com</a>.
				</p>
			</fieldset>
			<fieldset class="inlineLabels" id="nzbsorgFieldset">
				<h3>NZBs.org</h3>
				<div class="ctrlHolder checkbox">
					<label for="">Enable</label>
					<input type="checkbox" name="NZBsorg.enabled" value="True" ${' checked="checked"' if config.get('NZBsorg', 'enabled') else ''} />
				</div>
				<div class="ctrlHolder">
					<label for="">Id</label>
					<input type="text" name="NZBsorg.id" value="${config.get('NZBsorg', 'id')}" class="textInput large"/>
					<p class="formHint">
						Can be found <a href="http://nzbs.org/index.php?action=rss" target="_blank">here</a>, number after "&amp;i="
					</p>
				</div>
				<div class="ctrlHolder">
					<label for="">Key</label>
					<input type="text" name="NZBsorg.key" value="${config.get('NZBsorg', 'key')}" class="textInput large"/>
					<p class="formHint">
						Can be found <a href="http://nzbs.org/index.php?action=rss" target="_blank">here</a>, string after "&amp;h="
					</p>
				</div>
			</fieldset>
		</div>

		<div class="group userscript">
			<fieldset class="inlineLabels">
				<a href="${baseUrl}CouchPotato.user.js" class="submit userscriptInstall"><img src="${baseUrl}media/images/userscriptPreview.png" /><br />Install UserScript</a>
				<p style="font-size:11px">
					To use this UserScript, you need <a href="http://www.google.com/chrome/" target="_blank">Google Chrome</a> or the <a href="https://addons.mozilla.org/en-US/firefox/addon/748/" target="_blank">Greasemonkey addon</a> when using Firefox.
				</p>
			</fieldset>
		</div>

		<div class="group about">
			<fieldset class="inlineLabels">
				<div>
					<a href="${url(controller='config',action='exit')}" class="submit">Shutdown</a><span class="or">or</span>
					<a href="${url(controller='config',action='restart')}" class="submit restart">Restart</a>
				</div>
				<div id="versionInfo">
					<h3>Version ${updater.getVersion()}</h3>
				% if updater.useUpdater():
					<a href="${url(controller='config', action='checkForUpdate')}">Check for new version</a>
				% endif
				</div>
				<div id="donate">
					<div>I'm building CouchPotato in my spare time, so if you want to buy me a coke while I'm coding, that would be awesome!</div>
					<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=GFWSRM6L43T2S&lc=US&item_name=A%20more%20awesome%20CouchPotato&currency_code=EUR&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted" target="_blank">
						<img src="${baseUrl}media/images/donate.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					</a>
				</div>
				<div class="site">
					<a href="http://couchpotatoapp.com" target="_blank">CouchPotatoApp.com</a>
				</div>
			</fieldset>
		</div>

		<div class="group quality">
			<fieldset class="inlineLabels qualityTemplates">
				<h3>Quality Profile</h3>
				<div>
					<a href="#" id="newTemplate">Create a new quality profile.</a>
				</div>
				<p class="formHint">
					Create a list of qualities CouchPotato should go through when searching for a movie.
					It will try and download from top to bottom. Using the finish-checkbox will mark the movie as "completed" when this quality is found.
					<img src="${baseUrl}media/images/qualityProfileExample.png"><br />
					When adding a movie, you have to select this profile inside the quality list, so give it a nice name.
				</p>
				<div class="customList"></div>
			</fieldset>
			
			<fieldset class="inlineLabels">
				<h3>Default Qualities</h3>
				<div class="ctrlHolder">
					<label for="">Default quality</label>
					<select name="Quality.default" class="textInput large">
						% for qualityItem in Qualities.all():
						<option value="${qualityItem.name}"${' selected="selected"' if qualityItem.name == config.get('Quality', 'default') else ''}>${qualityItem.label}</option>
						% endfor
					</select>
				</div>
				<div class="ctrlHolder">
					<label for="">Order &amp; hide</label>
					<div class="standardQualities">
						<% hide = Qualities.conf('hide') %>
						<input type="hidden" name="Quality.order" value="" />
						<input type="hidden" name="Quality.hide" value="" />
						% for template in Qualities.all():
						<div class="item" data-id="${template.id}" data-name="${template.name}">
							<input type="checkbox" ${' checked="checked"' if not str(template.name) in hide else ''} />
							<span class="label">${template.label}</span>
							<span class="handle"></span>
						</div>
						% endfor
					</div>
				</div>
			</fieldset>
			<fieldset class="inlineLabels qualitySizes right">
				<h3>Quality sizes</h3>
				<p class="formHint">
					Only download the quality that is between these two sizes.<br />
					All that are outside these sizes, will be ignored.
				</p>
				<div class="ctrlHolder">
					<span class="size header">
						<span>Minimum</span>
						<span>Maximum</span> 
					</span>
				</div>
				% for key, quality in Qualities.getTypes():
				<div class="ctrlHolder">
					<label for="">${quality['label']}</label>
					<span class="size">
						<span><input type="text" name="Quality.sMin-${key}" value="${config.get('Quality', 'sMin-'+key)}" class="textInput small"/>MB</span>
						<span><input type="text" name="Quality.sMax-${key}" value="${config.get('Quality', 'sMax-'+key)}" class="textInput small"/>MB</span>
					</span>
				</div>
				% endfor
			</fieldset>
		</div>

		<div class="group extra">
			<fieldset class="inlineLabels" id="xbmcFieldset">
				<h3>XBMC</h3>
				<div class="ctrlHolder checkbox">
					<label for="">Update library</label>
					<input type="checkbox" name="XBMC.enabled" value="True" ${' checked="checked"' if config.get('XBMC', 'enabled') else ''} />
					<p class="formHint">
						Sends a notification and updates your XBMC library.
					</p>
				</div>
				<div class="ctrlHolder">
					<label for="">Host</label>
					<input type="text" name="XBMC.host" value="${config.get('XBMC', 'host')}" class="textInput large"/>
					<p class="formHint">
						Including port. Example: 192.168.1.20:8080
					</p>
				</div>
				<div class="ctrlHolder">
					<label for="">Username</label>
					<input type="text" name="XBMC.username" value="${config.get('XBMC', 'username')}" autocomplete="off" class="textInput large"/>
				</div>
				<div class="ctrlHolder">
					<label for="">Password</label>
					<input type="password" name="XBMC.password" value="${config.get('XBMC', 'password')}" autocomplete="off" class="textInput large"/>
				</div>
				<div class="ctrlHolder">
					<a href="#xbmcTest" id="xbmcTest">Send a message to XBMC, see if it works.</a>
				</div>
			</fieldset>
			<fieldset class="inlineLabels right">
				<h3>Trailers</h3>
				<div class="ctrlHolder">
					<label for="">Download trailer</label>
					<select name="Trailer.quality" class="textInput large">
						<option value="">None</option>
						% for format in trailerFormats:
						<option value="${format}"${' selected="selected"' if format == config.get('Trailer', 'quality') else ''}>${format}</option>
						% endfor
					</select>
					<p class="formHint">
						If None, no trailer will be downloaded.
					</p>
				</div>
				<div class="ctrlHolder">
					<label for="">Naming</label>
					<select name="Trailer.name" class="textInput large">
						<option value="movie-trailer"${' selected="selected"' if 'movie-trailer' == config.get('Trailer', 'name') else ''}>movie-trailer.ext</option>
						<option value="moviename-trailer"${' selected="selected"' if 'moviename-trailer' == config.get('Trailer', 'name') else ''}>&lt;filename&gt;-trailer.ext</option>
					</select>
				</div>
			</fieldset>
			<fieldset class="inlineLabels right" id="subtitleFieldset">
				<h3>Subtitles</h3>
				<div class="ctrlHolder checkbox">
					<label for="">Enable</label>
					<input type="checkbox" name="Subtitles.enabled" value="True" ${' checked="checked"' if config.get('Subtitles', 'enabled') else ''} />
				</div>
				<div class="ctrlHolder">
					<label for="">Language</label>
					<input type="text" name="Subtitles.languages" value="${config.get('Subtitles', 'languages')}" class="textInput large"/>
					<p class="formHint">
						Comma seperated 2-letter language code (<a href="http://en.wikipedia.org/wiki/ISO_639-1_language_matrix" target="_blank">ISO 639-1</a>). <br />
						Example: &quot;en, nl&quot;. Most importent first.
					</p>
				</div>
				<div class="ctrlHolder">
					<label for="">Naming</label>
					<select name="Subtitles.name" class="textInput large">
						<option value="filename"${' selected="selected"' if 'filename' == config.get('Subtitles', 'name') else ''}>filename.ext</option>
						<option value="subtitle"${' selected="selected"' if 'subtitle' == config.get('Subtitles', 'name') else ''}>subtitle.ext</option>
					</select>
					<p class="formHint">
						&quot;There Will Be Blood.srt&quot; or &quot;Subtitle.srt&quot;
					</p>
				</div>
				<div class="ctrlHolder checkbox">
					<label for="">Add language to name</label>
					<input type="checkbox" name="Subtitles.addLanguage" value="True" ${' checked="checked"' if config.get('Subtitles', 'addLanguage') else ''} />
					<p class="formHint">
						Add language shortcode to end of subtitle name. Example: &quot;There Will Be Blood.en.srt&quot;
					</p>
				</div>
			</fieldset>
			<fieldset class="inlineLabels left" id="nmjFieldset">
				<h3>Networked Media Jukebox</h3>
				<div class="ctrlHolder checkbox">
					<label for="">Update library</label>
					<input type="checkbox" name="NMJ.enabled" value="True" ${' checked="checked"' if config.get('NMJ', 'enabled') else ''} />
					<p class="formHint">
						Updates your NMJ library.
					</p>
				</div>
				<div class="ctrlHolder">
					<label for="">Host</label>
					<input type="text" name="NMJ.host" value="${config.get('NMJ', 'host')}" class="textInput large NMJhost"/>
					<p class="formHint">
						Example: 192.168.1.20
					</p>
				</div>
				<div class="ctrlHolder">
					<a href="#nmjAuto" id="nmjAuto">Autodetect NMJ Database and mount</a>
					<p class="formHint">
						Popcorn Hour needs to be on, and NMJ must be running.
					</p>
				</div>
				<div class="ctrlHolder">
					<label for="">NMJ Database</label>
					<input type="database" name="NMJ.database" value="${config.get('NMJ', 'database')}" autocomplete="off" class=" textInput large NMJdatabase"/>
					<p class="formHint">
						Path to the NMJ Database.
					</p>
				</div>
				<div class="ctrlHolder">
					<label for="">NMJ Mount URL</label>
					<input type="mount" name="NMJ.mount" value="${config.get('NMJ', 'mount')}" autocomplete="off" class="textInput large NMJmount"/>
					<p class="formHint">
						Only needed when the database is on a network path.
					</p>
				</div>
				<div class="ctrlHolder">
					<a href="#nmjTest" id="nmjTest">Update the NMJ database, see if it works.</a>
				</div>
			</fieldset>
			<fieldset class="inlineLabels right">
				<h3>Metadata</h3>
				<div class="ctrlHolder checkbox">
					<label for="">Save metadata</label>
					<input type="checkbox" name="Meta.enabled" value="True" ${' checked="checked"' if config.get('Meta', 'enabled') else ''} />
					<p class="formHint">
						Thumbnail, poster and .nfo file.
					</p>
				</div>
			</fieldset>
		</div>
		<div class="buttonHolder">
			<span class="cancel"><a href="#cancel">Cancel</a> or</span> 
			<button type="submit" class="primaryAction">
				Save &raquo;
			</button>
		</div>
	</form>
</div>

<script type="text/javascript">

	var form = $('configForm').getElement('form');
	window.addEvent('domready', function(){

		// Quality sorting and hiding
		var sq = form.getElement('.standardQualities')
		var saveQualityTemplateOrder = function(){
			data = []
			hide = []
			sq.getElements('.item').each(function(el){
				var checkbox = el.getElement('input[type=checkbox]')
				var label = el.getElement('.label')
				label.setStyle('opacity', 1)
				
				data.append([el.get('data-id')])
				
				if (!checkbox.get('checked')){
					hide.append([el.get('data-name')])
					label.setStyle('opacity', 0.6)
				}
			})
			sq.getElement('input[name=Quality.order]').set('value', data)
			sq.getElement('input[name=Quality.hide]').set('value', hide)
		}
		
		sq.getElements('.item input[type=checkbox]').addEvent('click', saveQualityTemplateOrder)

		var qualitySortable = new Sortables(sq, {
			'revert': true,
			'clone': true,
			'handle': '.handle',
			'opacity': 0.5,
			'onComplete': saveQualityTemplateOrder
		});
		saveQualityTemplateOrder()

		var qt = form.getElement('.qualityTemplates')
<%
		import json
		types = json.dumps(dict([(v['order'], v) for k, v in Qualities.getTypes()]))
		templates = json.dumps(Qualities.getTemplates())
%>
		var q = new Quality(qt, ${types}, ${templates});
		
		$('newTemplate').addEvent('click', function(e){
			(e).stop()
			q.add({
				'id':0,
				'name': 'New Quality',
				'waitFor': 0,
				'types': [{
					'type':'720p',
					'markComplete': true
				}]
			})
		})

		// Replace Userscript IE
		if (Browser.ie){
			form.getElement('.userscript fieldset a').setStyle('display', 'none')
		}
		
		// Get host and post with Userscript
		var usButton = $('configForm').getElement('.userscriptInstall')
		usButton.set('href', usButton.get('href')+'?host='+location.href.replace('config/', '')+'&type=CouchPotato.user.js')
		
		// Match label to input, cause i'm lazy
		form.getElements('label').each(function(el, nr){
			if(!el.get('for')){
				var id = 'formItem-'+nr
				el.set('for', id)
				el.getNext().set('id', id)
			}
		});
	
		// Form highlight
	    new Uniform();

		// Renaming disabled stuff
	    var isEnabled = function(checkbox, fieldset){
	        if (checkbox.get('checked')) 
	            fieldset.getElements('div.ctrlHolder').setStyle('opacity', 1)
	        else 
	            fieldset.getElements('div[class=ctrlHolder]').setStyle('opacity', 0.5)
	    }
		
		Array.each(['renamingFieldset','torrentsFieldset','nzbsFieldset','nzbmatrixFieldset','nzbsorgFieldset','newznabFieldset','subtitleFieldset', 'xbmcFieldset', 'nmjFieldset'],function(item){
		    var fieldset = $(item)
		    var checkbox = fieldset.getElement('[type=checkbox]')
		    isEnabled(checkbox, fieldset)
		    checkbox.addEvent('change', function(){
		        isEnabled(checkbox, fieldset)
		    });
		})
		
		// hide unused sendto
		var sendToSelect = $('nzbSendTo')
	    var sendTo = function(){
			form.getElements('.sendTo').setStyle('display', 'none')
	        if (sendToSelect.get('value') == 'Sabnzbd') 
	            form.getElement('.sabnzbd').setStyle('display', 'block')
	        else 
	            form.getElement('.blackhole').setStyle('display', 'block')
	    }
		sendToSelect.addEvent('change', sendTo);
		sendTo();
		
		 // Cancel button
		form.getElements('.cancel a').addEvent('click', function(e){
			(e).stop()
			history.back();
		});
		
		// Shutdown button
		form.getElements('.about a.submit').addEvent('click', function(e){
			(e).stop()
	        new Spinner(e.target).show();
			new Request({
				'url': e.target.get('href'),
				'onComplete': function(){
					if (e.target.get('text') == 'Restart')
						e.target.getParent().set('text', 'CouchPotato will restart in a few seconds.')
					else
						e.target.getParent().set('text', 'CouchPotato has shutdown.')
	        		new Spinner(e.target).hide();
				}
			}).send()
		});
		
		// Menu
		$('configForm').getElements('ul a').addEvent('click', function(e){
			(e).stop()
			
			showForm(e.target, e.target.get('href').substr(1))

		});
		var showForm = function(el, name){
			form.getElements('.group').removeClass('current')
			form.getElements('.group.'+name).addClass('current')

			$('configForm').getElements('ul a').removeClass('current');
			el.addClass('current');
		}
		var firstItem = $('configForm').getElement('ul li:last-child a');
		showForm(firstItem, firstItem.get('href').substr(1));
		
		$('xbmcTest').addEvent('click', function(e){
			(e).stop()
			new Request({
				'url': './testXBMC/',
				'data': $('xbmcFieldset')
			}).send()
		})
		$('nmjTest').addEvent('click', function(e){
			(e).stop()
			new Request({
				'url': './testNMJ/',
				'data': $('nmjFieldset')
			}).send()
		})
		$('nmjAuto').addEvent('click', function(e){
			(e).stop()
			if (form.getElement('.NMJhost').value == '') {
				alert('Please fill in the Popcorn Hour IP address');
				form.getElement('.NMJhost').focus();
				return
			}
			new Request.JSON({
				url: './autoNMJ/',
				onComplete: function(response){
					if (response == null) return
					form.getElement('.NMJdatabase').value = response.database;
					form.getElement('.NMJmount').value = response.mount;
				},
				data: $('nmjFieldset')
			}).send()
		})

	});

</script>

<%inherit file="/base.html" />
