
<form method="POST" action="${url(controller='movie',action='search')}">
	<dl>
		<dt>Name</dt>
		<dd><input type="text" name="movie" /></dd>
		<dt>Quality</dt>
		<dd>
			<select name="quality">
% for order, quality in c.qualityList.iteritems():
				<option value="${quality['name']}"${' selected=selected' if quality.get('default') else ''}>${quality['name']}</option>
% endfor
			</select>
		</dd>
	</dl> 
	<input type="submit" name="search" value="Add" />
</form>

<%inherit file="/base.html" />

