
<div id="imdbAdd">
% if c.success:
	<div style="text-align:center;"><strong>${c.result.name}</strong> added!</div>
% else: 
	<form method="post" action="${url(controller='movie',action='imdbAdd', id=c.id)}">
		<div>Add to Movie Manager</div>
		<select name="quality">
			% for order, quality in c.qualityList.iteritems():
			<option value="${quality['name']}">${quality['name']}</option>
			% endfor
		</select>
		<a href="" class="submit">Add &raquo;</a>
		<input type="hidden" name="add" value="Add" />
	</form>
	
	<script type="text/javascript">
		
		var form = $('imdbAdd').getElement('form');
		window.addEvent('domready', function(){
			form.getElement('.submit').addEvent('click', function(e){
				(e).stop();
				new Spinner(form);
				form.submit()
			})
		});
		
	</script>
% endif
</div>

<%inherit file="/empty.html" />