
<form method="post" id="movieResults" class="addNew" action="${url(controller='movie',action='search')}">
	<div class="row">
		<span>Select the right movie:</span>
		<span>
			<select name="movienr">
				% for movie in c.results:
				<option value="${c.results.index(movie)}">${movie.name} (${movie.year})</option>
				% endfor
			</select>
		</span>
	</div>
	
	% if movie.year == 'None':
	<div class="row">
		<span>Year:</span>
		<span>
			<input type="text" name="year" value="" style="width:40px; border: 1px solid red;" />
		</span>
	</div>
	% endif
	
	<div class="row">
		<span>Quality</span>
		<span>
			<select name="quality">
				% for order, quality in c.qualityList.iteritems():
				<option value="${quality['name']}"${' selected=selected' if quality.get('name') == c.quality else ''}>${quality['name']}</option>
				% endfor
			</select>
		</span>
	</div>

	<input type="hidden" name="movie" value="${c.movie}" />
	<input type="hidden" name="add" value="Add" />
	<a href="" class="submit">Add &raquo;</a>
</form>

<script type="text/javascript">
	
	var form = $('movieResults');
	window.addEvent('domready', function(){
		form.getElement('.submit').addEvent('click', function(e){
			(e).stop();
			req()
		})
		
		var req = function(){
			var s = new Spinner(form)
				s.show();
			new Request({
				'url': form.get('action'),
				'data': form,
				'onSuccess': function(){
					window.location.reload()
				},
				'onFailure': function(){
					alert('Couldn\'t find the year on TheMovieDB, so you have to fill it in yourself.\nTo make other people happy, you could go to TheMovieDB and fill in the year.')
				},
				'onComplete': function(){
					s.hide();
				}
			}).send()
		}
		
	% if len(c.results) == 1 and movie.year != 'None':
		var s = new Spinner(form)
			s.show();
		window.location.reload()
		form.submit()
	% endif

	});
	
</script>
