<%
	totalMovies = len(movies)
	totalSnatched = len(snatched)
	totalDownloaded = len(downloaded)
%>
% if totalMovies > 0:
<div id="filterDetails">
	<a href="${baseUrl}movie/#" class="counter"><strong>${totalMovies}</strong> wanted</a>
	% if totalSnatched > 0:
	<a href="${baseUrl}movie/#sn" class="counter"><strong>${totalSnatched}</strong> snatched</a>
	% endif
	% if totalDownloaded > 0:
	<a href="${baseUrl}movie/#dl" class="counter"><strong>${totalDownloaded}</strong> downloaded</a>
	% endif
	<a href="#" class="toggle">Show details</a>
</div>

<h1>Wanted</h1>
<div id="movies" class="list">
	<script type="text/javascript">
		var filterDetails = $('filterDetails').getElement('.toggle')
		var toggleThem = function(){
			$('movies').toggleClass('list')
			filterDetails.set('text', !$('movies').hasClass('list') ? 'Hide details' : 'Show details')
			Cookie.write('showDetails', !$('movies').hasClass('list'), {'duration': 365, 'path': '${baseUrl}movie/'});
		}
		filterDetails.addEvent('click', function(e){
			(e).stop()
			toggleThem()
		})
		if(Cookie.read('showDetails') == 'true')
			toggleThem()
	</script>
	% for movie in movies:
	<%
		extra = {}
		for e in movie.extra:
			extra[e.name] = e.value
	%>
	<div class="item ${movie.status}" data-id="${movie.id}">
		<span class="title">
			% if extra.get('poster_thumb'):
			<img class="thumbnail" src="${baseUrl}${extra.get('poster_thumb')}" alt="Thumbnail" />
			% else:
			<span class="thumbnail empty"></span>
			% endif
			<span class="extra">
				<h2>${movie.name}</h2>
				% if extra.get('overview'):
				<span class="overview">${extra.get('overview')}</span>
				% endif
				% if extra.get('rating') and extra.get('rating') != '0.0':
				<span class="rating">Rating: ${extra.get('rating')}</span>
				% endif
			</span>
		</span>
		<span class="year">${movie.year}</span>
		<span class="quality"></span>
		<span class="info">
			<a href="http://www.imdb.com/title/${movie.imdb}/" class="imdb" target="_blank"></a>
			<a ${'href="http://www.themoviedb.org/movie/%s"' % str(movie.movieDb) if movie.movieDb else ''} target="_blank" class="moviedb ${'disabled' if not movie.movieDb else ''}"></a>
			<a class="forceCheck" href="${url(controller='cron', action='forceSingle', id=movie.id)}" title="Force search/refresh info"></a>
			<a class="delete" href="${url(controller='movie', action='delete', id=movie.id)}" title="Remove: ${movie.name} (${movie.year})"></a>
		</span>
		<div class="queue">
			<div class="header">
				<span class="found">Found</span>
				<span class="qualityType">Quality</span>
				<acronym class="markComplete" title="Won't download anything else if it has found this quality.">Finish</acronym>
			</div>
		% for queue in movie.queue:
			<div class="item ${'active' if queue.active else 'inactive'} ${'completed' if queue.completed else ''}" data-id="queu-${queue.id}">
				${'<a target="_blank" href="%s" class="found">%s</a>' % (queue.link if queue.link else '', queue.name) if queue.name else '<span class="found">Nothing yet</span>'}
				<span class="qualityType">${Qualities.types[queue.qualityType]['label']}</span>
				<span class="markComplete${' active' if queue.markComplete else ''}"></span>
			</div>
		% endfor
		</div>
	</div>
	% endfor
</div>


<script type="text/javascript">

	window.addEvent('domready', function(){
		$$('#movies > .item').each(function(el){
			
			// Queue items
			var queue = el.getElement('.queue')
			
			var a = new Element('a', {
				'html': ' \
					% for x, type in Qualities.getTypes():
					<span class="q${type['label']}"></span> \
					% if x == 'scr':
					<span class="qR5 qTeleCine qTeleSync qCam"></span> \
					<% break %>
					% endif
					% endfor
				'
			}).inject(el.getElement('.quality'))
	
			queue.getElements('.item').reverse().each(function(qitem){
				var qualitySpan = a.getElement('.q'+qitem.getElement('.qualityType').get('text'))
				qualitySpan.inject(a, 'top')
				qualitySpan.addClass('active')
				if(qitem.hasClass('completed'))
					qualitySpan.addClass('completed')
				if(qitem.getElement('.markComplete').hasClass('active'))
					qualitySpan.addClass('finished')
			})
			el.addEvent('outerClick', function(){
				el.removeClass('active')
			})
		});

		var movies = $('movies')
		
		movies.addEvent('click:relay(.quality a)', function(e, clicked){
			(e).stop();
			var el = clicked.getParent('.item')
			if (el.hasClass('active')){
				el.removeClass('active');
			}
			else {
				$$('#movies > .active').removeClass('active');
				el.addClass('active')
			}
		});
		
		movies.addEvent('click:relay(a.delete)', function(e, clicked){
				(e).stop();

				new Question('What do you want to do?', [
				{
					'text': clicked.get('title'),
					'href': clicked.get('href'),
					'ajax': true,
					'obj': clicked
				},
				{
					'text': 'Cancel',
					'class': 'cancel',
					'cancel': true
				}
				])
		});
		
		movies.addEvent('click:relay(a.forceCheck)', function(e, clicked){
			(e).stop();
			new Request({
				'url': clicked.get('href'),
				'onSuccess': function(){
					clicked.getParent('.item').highlight()
				}
			}).send()
		});
	})
</script>
	
% else:
<div id="movies">
	
	<a href="#" id="firstAdd">No movies added, click here to add a movie.</a>
	<script type="text/javascript">
	
		window.addEvent('domready', function(){
			$('firstAdd').addEvent('click', function(e){
				(e).stop();
				var firstEl = $('addForm').getElement('input');
				if (firstEl)
					firstEl.focus()
					firstEl.highlight()
			});
		});
	</script>
	
</div>
% endif


<script type="text/javascript">
	window.addEvent('domready', function(){
		$(document.body).addEvent('click:relay(a.reAdd)', function(e, clicked){
			(e).stop();
			new Question('What do you want to do?', [
				{
					'text': 'Download same version again.', 
					'href': clicked.get('href')
				},
				{
					'text': 'Find another version to download.',
					'href': clicked.get('href') + '&failed=true'
				},
				{
					'text': 'Cancel',
					'class': 'cancel',
					'cancel': true
				}
			])
		});
	})
</script>

% if totalSnatched > 0:
<a name="sn"></a>
<h1>Snatched</h1>
<div id="snatched" class="smallList">
	% for movie in snatched:
	<span>
		${movie.name}
		<a href="${url(controller='movie', action='downloaded', id=movie.id)}" class="correct" title="Movie downloaded correctly."></a>
		<a href="${url(controller='movie', action='reAdd', id=movie.id)}" class="reAdd" data-id="${movie.id}" title="Movie didnt download, re-add it."></a>
	</span>
	% endfor
</div>
% endif

% if totalDownloaded > 0:
<a name="dl"></a>
<h1>Downloaded</h1>
<div id="clear_downloaded">
<a href="${url(controller='movie', action='clear_downloaded')}" class="clear_downloaded">Clear</a>
</div>
<div id="downloaded" class="smallList">
	% for movie in downloaded:
	<span>
		${movie.name}
		<a href="${url(controller='movie', action='delete', id=movie.id)}" class="delete"></a>
		<a href="${url(controller='movie', action='reAdd', id=movie.id)}" class="reAdd" data-id="${movie.id}" title="Movie didnt download, re-add it."></a>
	</span>
	% endfor
</div>
% endif

<%inherit file="/base.html" />
