% if len(movies) > 0:
<div id="movies">
	<div class="header">
		<span class="title">Title</span>
		<span class="year">Year</span>
		<span class="quality">Quality</span>
		<span class="info">Info</span>
		<span class="actions">Actions</span>
	</div>
	% for movie in movies:
	<div class="item ${movie.status}" data-id="${movie.id}">
		<span class="title">${movie.name}</span>
		<span class="year">${movie.year}</span>
		<span class="quality">
			<a href="#">
				% for x, type in Qualities.getTypes():
				<span class="q${type['label']}"></span>
				% if x == 'scr':
				<span class="qR5 qTeleCine qTeleSync qCam"></span>
				<% break %>
				% endif
				% endfor
			</a>
		</span>
		<span class="info">
			<span class="imdb"><a href="http://www.imdb.com/title/${movie.imdb}/" target="_blank"><img src="media/images/imdb.png" alt="IMDB" /></a></span>
			<span class="moviedb"><a href="http://www.themoviedb.org/movie/${movie.movieDb}" target="_blank"><img src="media/images/moviedb.png" alt="TheMovieDB" /></a></span>
		</span>
		<span class="actions">
			<a class="delete" href="${url(controller='movie', action='delete', id=movie.id)}" title="Delete this movie"><img src="media/images/delete.png" alt="Delete" /></a>
			<a class="forceCheck" href="${url(controller='cron', action='forceSingle', id=movie.id)}" title="Force search"><img src="media/images/reload.png" alt="Reload" /></a>
		</span>
		<div class="queue">
			<div class="header">
				<span class="found">Found</span>
				<span class="qualityType">Quality</span>
				<span class="markComplete"><acronym title="Won't download anything else if it has found this quality.">Finish</acronym></span>
			</div>
		% for queue in movie.queue:
			<div class="item ${'active' if queue.active else 'inactive'} ${'completed' if queue.completed else ''}" data-id="queu-${queue.id}">
				<span class="found">${'<a target="_blank" href="%s">%s</a>' % (queue.link, queue.name) if queue.name else 'Nothing yet'}</span>
				<span class="qualityType">${Qualities.types[queue.qualityType]['label']}</span>
				<span class="markComplete">${'<img src="media/images/ok.png" />' if queue.markComplete else ''}</span>
			</div>
		% endfor
		</div>
	</div>
	% endfor
</div>

<script type="text/javascript">

	window.addEvent('domready', function(){
		$$('#movies > .item').each(function(el){
			
			// Queue items
			var queue = el.getElement('.queue')
			
			var a = el.getElement('.quality a')
			queue.getElements('.item').reverse().each(function(qitem){
				var qualitySpan = a.getElement('.q'+qitem.getElement('.qualityType').get('text'))
				qualitySpan.inject(a, 'top')
				qualitySpan.addClass('active')
				if(qitem.hasClass('completed'))
					qualitySpan.addClass('completed')
			})
			
			a.addEvent('click', function(e){
				(e).stop();
				if (el.hasClass('active')){
					$$('#movies > .item').removeClass('active');
				}
				else {
					$$('#movies > .item').removeClass('active');
					el.addClass('active')
				}
			})
			el.addEvent('outerClick', function(){
				el.removeClass('active')
			})
			
			// Remove button
			var del = el.getElement('.delete')
			del.addEvent('click', function(e){
				(e).stop()
				new Request({
					'url': del.get('href'),
					'onSuccess': function(){
						el.destroy()
					}
				}).send()
			})
			
			// Force check
			var check = el.getElement('.forceCheck')
			check.addEvent('click', function(e){
				(e).stop()
				new Request({
					'url': check.get('href'),
					'onSuccess': function(){
						el.highlight()
					}
				}).send()
			})
			
		});
	});
</script>
	
% else:
<div id="movies">
	
	<a href="#" id="firstAdd">No movies added, click here to add a movie.</a>
	<script type="text/javascript">
	
		window.addEvent('domready', function(){
			$('firstAdd').addEvent('click', function(e){
				(e).stop();
				var firstEl = $('addForm').getElement('input');
				if (firstEl)
					firstEl.focus()
					firstEl.highlight()
			});
		});
	</script>
	
</div>
% endif

% if len(snatched) > 0:
<div id="snatched" class="smallList">
	<h1>Snatched:</h1>
	% for movie in snatched:
	<span>
		${movie.name}
		<span class="actions">
			<a href="${url(controller='movie', action='downloaded', id=movie.id)}"><img src="media/images/ok.png" title="Movie downloaded correctly." alt="OK" /></a>
			<a href="${url(controller='movie', action='reAdd', id=movie.id)}"><img src="media/images/undo.png" title="Movie didnt download, re-add it." alt="Undo" /></a>
		</span>
	</span>
	% endfor
</div>
% endif

% if len(downloaded) > 0:
<div id="downloaded" class="smallList">
	<h1>Downloaded:</h1>
	% for movie in downloaded:
	<span>
		${movie.name}
		<span class="actions">
			<a href="${url(controller='movie', action='delete', id=movie.id)}"><img src="media/images/delete.png" alt="Delete" /></a>
		</span>
	</span>
	% endfor
</div>
% endif

<%inherit file="/base.html" />