% if error == 'year':
yearError
% else:
<form method="post" id="movieResults" class="addNew" action="${url(controller='movie',action='search')}">
	
	<div class="row">
		<a href="" class="submit">Add &raquo;</a>
	</div>
	
	<div class="row">
		<select name="quality" class="quality">
			% for qualityItem in Qualities.all(enabled = True):
			<option value="${qualityItem.id}"${' selected="selected"' if int(quality) == qualityItem.id else ''}>${qualityItem.label}</option>
			% endfor
		</select>
	</div>

	<div class="row">
		<input type="text" name="year" title="year" id="yearInput" value="" />
		<script type="text/javascript">
			window.addEvent('domready', function(){
				new OverText('yearInput').show()
			});
		</script>
	</div>
	
	<div class="row">
		<select name="movienr" class="movieselect">
			% for movie in results:
			<option value="${results.index(movie)}">${movie.name} (${movie.year})</option>
			% endfor
		</select>
	</div>

	<input type="hidden" name="moviename" value="${moviename}" />
	<input type="hidden" name="add" value="Add" />
</form>

<script type="text/javascript">
	
	var form = $('movieResults');
	window.addEvent('domready', function(){
		form.getElement('.submit').addEvent('click', function(e){
			(e).stop();
			req()
		})
		
		var selectBox = form.getElement('.movieselect')
		selectBox.addEvent('change', function(){
			checkYear()
		});
		var checkYear = function(){
			var full = selectBox.getElements('option')[selectBox.get('value')].get('text')
			if(full.test('(None)', 'i')){
				$('yearInput').getParent().setStyle('display', 'block');
				$('yearInput').set('disabled', false);
				return false
			}
			else {
				$('yearInput').getParent().setStyle('display', 'none');
				$('yearInput').set('disabled', true);
				return true
			}
		}
		var hasYear = checkYear()
		
		var req = function(){
			var s = new Spinner(form)
				s.show();
			new Request({
				'url': form.get('action'),
				'data': form,
				'onSuccess': function(){
					s.hide();
				},
				'onComplete': function(response){
					if(response.test('yearError')){
						alert('Couldn\'t find the year on TheMovieDB, so you have to fill it in yourself.\nTo make other people happy, you could go to TheMovieDB and fill in the year.')
					}
					else {
						window.location.reload()
					}
				}
			}).send()
		}
		
	% if len(results) == 1:
		if (hasYear){
			var s = new Spinner(form).show();
			form.submit()
		}
	% endif

	});
	
</script>
% endif
