% if error == 'year':
yearError
% else:
<form method="post" id="movieResults" class="addNew" action="${url(controller='movie',action='search')}">
	
	<div class="row">
		<a href="" class="submit">Add &raquo;</a>
	</div>
	
	<div class="row">
		<select name="quality" class="quality">
			% for qualityItem in Qualities.all(enabled = True):
			<option value="${qualityItem.id}"${' selected="selected"' if int(quality) == qualityItem.id else ''}>${qualityItem.label}</option>
			% endfor
		</select>
	</div>

	<div class="row">
		<input type="text" name="year" title="year" id="yearInput" value="" />
	</div>
	
	<div class="row">
		<a href="${url(controller='movie',action='index')}" class="undo" title="No good, undo!"><img src="${baseUrl}media/images/undoBW.png" alt="Start over" /></a>
		<select name="movienr" class="movieselect">
			% for movie in results:
			<option value="${results.index(movie)}">${movie.name} (${movie.year})</option>
			% endfor
		</select>
	</div>

	<input type="hidden" name="moviename" value="${moviename}" />
	<input type="hidden" name="add" value="Add" />
</form>

<script type="text/javascript">
	var form = $('movieResults');
	window.addEvent('domready', function(){
		new OverText('yearInput')
		var checkYear = function(){
			var full = selectBox.getElements('option')[selectBox.get('value')].get('text')
			var yearInput = $('yearInput')
			var yearRow = $('yearInput').getParent('.row')
			if(full.test('(None)', 'i')){
				yearRow.setStyle('display', 'block');
				yearInput.set('disabled', false);
				return false
			}
			else {
				yearRow.setStyle('display', 'none');
				yearInput.set('disabled', true);
				return true
			}
		}

		var req = function(){
			var s = new Spinner(form)
				s.show();
			new Request({
				'url': form.get('action'),
				'data': form,
				'onSuccess': function(){
					s.hide();
				},
				'onComplete': function(response){
					if(response.test('yearError'))
						alert('Couldn\'t find the year on TheMovieDB, so you have to fill it in yourself.\nTo make other people happy, you could go to TheMovieDB and fill in the year.')
					else
						window.location.reload()
				}
			}).send()
			
			return false
		}

		// Undo button
		form.getElement('.undo').addEvent('click', function(e){
			(e).stop()
			new Request.HTML({
				'url': '${url(controller='movie',action='add')}',
				'update': 'addForm'
			}).send()
		});

		form.getElement('.submit').addEvent('click', req)

		var selectBox = form.getElement('.movieselect')
		selectBox.addEvent('change', function(){
			checkYear()
		});

		checkYear()

	});
</script>
% endif
