<!DOCTYPE html>
<html>
<head>
    <title>CouchPotato</title>
	<base href="${baseUrl}">
	<link href="media/images/favicon.ico" rel="icon" type="image/x-icon" />
<% 
	cssFiles = [
		'Base.css',
		'Main.css',
		'Uniform.css',
		'UniformGeneric.css'
	]
	miniCss = Minify.css(cssFiles) 
%>
	% if debug:
	% for cssFile in cssFiles:
	<link href="media/style/${cssFile}" media="screen" rel="stylesheet" type="text/css" />
	% endfor
	% else:
	<link href="${miniCss}" media="screen" rel="stylesheet" type="text/css" />
	% endif
</head>
<body>
<% 
	import time
	if updater.lastCheck < time.time()-7200:
		updater.checkForUpdate() 
	
	jsFiles = [
		'Mootools.js',
		'MootoolsMore.js',
		'Global.js',
		'Uniform.js',
		'Quality.js',
		'Question.js',
		'Library.js'
	]
	miniJs = Minify.js(jsFiles) 
%>
	% if debug:
	% for jsFile in jsFiles:
	<script src="media/script/${jsFile}" type="text/javascript"></script>
	% endfor
	% else:
	<script src="${miniJs}" type="text/javascript"></script>
	% endif

	
	<div id="header">
	    <div class="navigation">
	    	<% tabs = [
		            {'href': 'movie', 'title':'Gimmy gimmy gimmy!', 'label':'Wanted'},
		            {'href': 'manage', 'title':'Do stuff to your existing movies!', 'label':'Manage'},
		            {'href': 'feed', 'title':'Which wanted movies are released soon?', 'label':'Soon'},
		            {'href': 'log', 'title':'Show recent logs.', 'class':'logLink', 'label':'Logs'},
		            {'href': 'config', 'title':'Change settings.', 'id':'showConfig'}
	    		] %>
	        <ul>
	    	% for tab in tabs:
	            <li><a href="${url(controller=tab.get('href'), action='index')}" title="${tab.get('title')}" id="${tab.get('id', '')}" class="${tab.get('class', '')}">${tab.get('label', '')}</a></li>
	        % endfor
	        </ul>

			<div id="addForm">
		    	<%include file="/movie/add.html" />
			</div>
			
			<script type="text/javascript">
				
				window.addEvent('domready', function(){

					var showConfigPopup = function(e){
						(e).stop()

						var popup = new Element('div', {
							'class':'configPopup'
						}).inject(document.body);
						
						new Request.HTML({
							'url': $('showConfig').get('href'),
							'update': popup,
							'method': 'get'
						}).send()
						
					}
					$('showConfig').addEvents({
						'click': showConfigPopup,
						'mouseover': function(){ this.setStyle('opacity', 0.5) },
						'mouseout': function(){ this.setStyle('opacity', 1) }
					});
					
					var hasUpdate = $(document.body).getElement('.updateAvailable');
					var updateNow = function(updateThis){
						var us = new Spinner(updateThis).show()
						new Request.HTML({
							'url': hasUpdate.getElement('a').get('href'),
							'update': updateThis,
							'onComplete': function(){
								us.hide();
								(function(){ window.location.reload() }).delay(15000)
							}
						}).send()
					}
					
					if(hasUpdate){
						var clone = hasUpdate.clone()
							.addClass('noticeMe')
							.inject($(document.body).getElement('.page .content'), 'top')
							
						if (clone.hasClass('git')){
							clone.getElement('a').addEvent('click', function(e){
								(e).stop()
								updateNow(clone)
							})
							hasUpdate.getElement('a').addEvent('click', function(e){
								(e).stop()
								updateNow(hasUpdate)
							})
						}
					}
					
				})
				
			</script>
	    </div>
	</div>
	<div class="page">
	    <div class="content">
			<% messages = flash.all() %>
			% if messages:
			<div class="messages">
				% for message in messages:
				<div class="item noticeMe">${message}</div>
				% endfor
			</div>
			% endif
	        ${next.body()}
	    </div>
		<div class="footer">
			<div class="check">
			% if yarr.isChecking() and not yarr.stop:
				<img src="media/images/spinner.gif" alt="refresh" style="width:10px" /> Now checking. ( <a href="${url(controller='cron', action='stop')}">Stop</a> )
			% else:
				Next check in ${yarr.nextCheck().get('string')} ( <a href="${url(controller='cron', action='force')}">Force check</a> )
			% endif
			</div>
			<div id="version">
				Version: <em>${updater.getVersion()}</em>
				% if updater.updateAvailable and updater.isFrozen:
					, <span class="updateAvailable windows">Update available: <a href="${updater.updateAvailable}">download update</a> (<a href="http://github.com/RuudBurger/CouchPotato/blob/master/changelog.md#readme">changelog</a>)</span>
				% elif updater.updateAvailable:
					, <span class="updateAvailable git">Update available: <a href="${url(controller='config', action='update')}">update now</a></span>
				% endif
				% if updater.lastCheck < time.time()-60:
					, <a href="${url(controller='config', action='checkForUpdate')}">Check for new version</a>
				% endif
			</div>
		</div>
		<a id="toTop" href="#"><span>Back to top</span></a>
	</div>
</body>
</html>
