<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CouchPotato</title>
	<link href="${baseUrl}media/images/favicon.ico" rel="icon" type="image/x-icon" />
	<link rel="apple-touch-icon" href="${baseUrl}media/images/homescreen.png"/>
<%
	cssFiles = [
		'Base.css',
		'Main.css',
		'Uniform.css',
		'UniformGeneric.css'
	]
%>
	% for cssFile in cssFiles:
	<link href="${baseUrl}media/style/${cssFile}" media="screen" rel="stylesheet" type="text/css" />
	% endfor
</head>
<body>
<%
	import time
	if updater.lastCheck < time.time()-7200:
		import thread
		thread.start_new_thread(updater.checkForUpdate, ())

	jsFiles = [
		'Mootools.js',
		'MootoolsMore.js',
		'Global.js',
		'Uniform.js',
		'Quality.js',
		'Question.js',
		'Library.js'
	]
%>
	% for jsFile in jsFiles:
	<script src="${baseUrl}media/script/${jsFile}" type="text/javascript"></script>
	% endfor

	<div id="header">
	    <div class="navigation">
	    	<% tabs = [
		            {'href': 'movie', 'title':'Gimmy gimmy gimmy!', 'label':'Wanted'},
		            {'href': 'manage', 'title':'Do stuff to your existing movies!', 'label':'Manage'},
		            {'href': 'feed', 'title':'Which wanted movies are released soon?', 'label':'Soon'},
		            {'href': 'log', 'title':'Show recent logs.', 'class':'logLink', 'label':'Logs'},
		            {'href': 'config', 'title':'Change settings.', 'id':'showConfig'}
	    		] %>
	        <ul>
	    	% for tab in tabs:
	            <li><a href="${url(controller=tab.get('href'), action='index')}" title="${tab.get('title')}" id="${tab.get('id', 'tab'+tab.get('href'))}" class="${tab.get('class', 'tab'+tab.get('href'))}">${tab.get('label', '')}</a></li>
	        % endfor
	        </ul>

			<div id="addForm">
		    	<%include file="/movie/add.html" />
			</div>

			<script type="text/javascript">

				window.addEvent('domready', function(){

					$('showConfig').addEvents({
						'mouseover': function(){ this.setStyle('opacity', 0.5) },
						'mouseout': function(){ this.setStyle('opacity', 1) }
					});

					var hasUpdate = $(document.body).getElement('.updateAvailable');
					var updateNow = function(updateThis, url){
						var us = new Spinner(updateThis).show()
						new Request.HTML({
							'url': url,
							'update': updateThis,
							'onComplete': function(){
								us.hide();
								(function(){ window.location.reload() }).delay(15000)
							}
						}).send()
					}

					if(hasUpdate){
						var clone = hasUpdate.clone()
							.addClass('noticeMe')
							.inject($(document.body).getElement('.page .content'), 'top')

						if (clone.hasClass('git')){
							$(document.body).getElements('a[href*=config/update]').addEvent('click', function(e){
								(e).stop()
								updateNow(e.target.getParent('.updateAvailable'), e.target.get('href'))
							})
						}
					}

					// Show popup
					var cookie_name = 'seen_update';
					if(!Cookie.read(cookie_name)){
						new Element('div', {
							'styles': {
								'background': 'rgba(0,0,0,.8)',
								'position': 'fixed',
								'height': '100%',
								'width': '100%',
								'z-index': 2000,
								'cursor': 'pointer'
							},
							'events': {
								'click': function(e){
									Cookie.write(cookie_name, '1', {
										'duration': 31
									})

									e.target.destroy();
								}
							}
						}).adopt(
							new Element('div', {
								'styles': {
									'color': '#FFF',
									'padding': '20px',
									'font-size': '24px',
									'position': 'fixed',
									'left': '50%',
									'top': '50%',
									'height': '200px',
									'width': '500px',
									'margin': '-110px 0 0 -260px',
									'text-align': 'center',
									'cursor': 'default'
								},
								'events': {
									'click': function(e){
										(e).stopPropagation();
										if(e.target.get('tag') != 'a')
											return false
									}
								},
								'html': 'There is a new version of CouchPotato, it\'s called "v2" and it\'s awesome, sexy and more. <br/>' +
									'Please go to <a href="https://couchpota.to/">the CouchPotato site</a> to get it. <br />' +
									'<span style="display:block; font-size: 14px; margin-top: 10px;">You will be able to import your existing wanted list, but need a few extra minutes to fill in your settings though.</span>'
							})
						).inject(document.body, 'top');
					}

				})

			</script>
	    </div>
	</div>
	<div class="page">
	    <div class="content">
			<% messages = flash.all() %>
			% if messages:
			<div class="messages">
				% for message in messages:
				<div class="item noticeMe">${message}</div>
				% endfor
			</div>
			% endif
	        ${next.body()}
	    </div>
		<div class="footer">
			<div class="check">
			% if yarr.isChecking() and not yarr.stop:
				<img src="${baseUrl}media/images/spinner.gif" alt="refresh" style="width:10px" /> Now checking. ( <a href="${url(controller='cron', action='stop')}">Stop</a> )
			% else:
				Next check in ${yarr.nextCheck().get('string')} ( <a href="${url(controller='cron', action='force')}">Force check</a> )
			% endif
			</div>
			<div id="version">
				Version: <em>${updater.getVersion()}</em>
				% if updater.useUpdater():
					% if updater.updateAvailable and updater.isFrozen:
						, <span class="updateAvailable windows">Update available: <a href="${updater.updateAvailable}">download update</a> (<a href="http://github.com/RuudBurger/CouchPotato/blob/master/changelog.md#readme">changelog</a>)</span>
					% elif updater.updateAvailable:
						, <span class="updateAvailable git">Update (<a href="https://github.com/RuudBurger/CouchPotato/compare/${updater.getVersion().replace('git-', '')}...master" target="_blank">diff</a>) available: <a id="updateLink" href="${url(controller='config', action='update')}">update now</a></span>
					% endif
					% if updater.lastCheck < time.time()-60:
						, <a href="${url(controller='config', action='checkForUpdate')}">Check for new version</a>
					% endif
				% endif
			</div>
		</div>
		<a id="toTop" href="#"><span>Back to top</span></a>
	</div>
</body>
</html>
