<!DOCTYPE html>
<html>
<head>
    <title>CouchPotato</title>
	
	<link href="${baseUrl}media/style/Base.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="${baseUrl}media/style/Main.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="${baseUrl}media/style/Uniform.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="${baseUrl}media/style/UniformGeneric.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body id="clean">
	
	<script src="${baseUrl}media/script/Mootools.js" type="text/javascript"></script>
	<script src="${baseUrl}media/script/MootoolsMore.js" type="text/javascript"></script>
	<script src="${baseUrl}media/script/Uniform.js" type="text/javascript"></script>

	${next.body()}
	
</body>
</html>
